.grayBase
  .layout-block
    .nav-block
      = render 'shared/sidebar'
    .project-block
      %section
        .ttl-block
          .ttl-block-txt
            %h2.ttlDetails #{location_string(params[:id].to_i)}
        %ul.pj-box-ul
          = render 'template/project'
        = paginate(@projects)
