.grayBase
  .layout-block
    .nav-block
      = render 'shared/sidebar'
    .project-block
      %section
        .ttl-block
          .ttl-block-txt
            %h2.ttlDetails #{@tag.name}
        %ul.pj-box-ul
          = render 'template/project'
        = paginate(@projects)
