%li.BlogArticleItem
  %a.link{:href => "http://blog.makuake.com/posts/3175861", :target => "_blank"}
    %article
      .image
        %img.image-thumbnail-m{:alt => "スタッフが選ぶオススメプロジェクト", :src => "https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/168893/22b843abe89f61ad6ed77aecd68b6a7f_d77e7b35d01c985e7c276806c5f063e7.jpg?crop=607-341"}/
      %h4.title スタッフが選ぶオススメプロジェクト
      %p.date 2018.10.12

%li.BlogArticleItem
  %a.link{:href => "hhttp://blog.makuake.com/posts/2507497", :target => "_blank"}
    %article
      .image
        %img.image-thumbnail-m{:alt => "「ISETAN × Makuake クラウドファンディング PROGRAM」展示プロジェクトのご紹介", :src => "https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/168893/56efebd16a0c82b6c2d7502ba0f6ac4c_dc5e66268d94b64181390de6d61cb333.jpg?crop=607-341"}/
      %h4.title 「ISETAN × Makuake クラウドファンディング PROGRAM」展示プロジェクトのご紹介
      %p.date 2018.10.01

%li.BlogArticleItem
  %a.link{:href => "http://blog.makuake.com/posts/3175861", :target => "_blank"}
    %article
      .image
        %img.image-thumbnail-m{:alt => "７ｉＤ（旧オムニ７会員ID）とログイン連携可能になりました！", :src => "https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/168893/35f6cb259f0365f32a137e27de9ee957_da4f07273046a8956dbe76a723d85ab4.png?crop=607-341"}/
      %h4.title ７ｉＤ（旧オムニ７会員ID）とログイン連携可能になりました！
      %p.date 2018.09.27

%li.BlogArticleItem
  %a.link{:href => "http://blog.makuake.com/posts/3175861", :target => "_blank"}
    %article
      .image
        %img.image-thumbnail-m{:alt => "東急ハンズ渋谷店2Aフロアに「プロデューサーズSTUDIO」がOPEN！", :src => "https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/168893/a0a45d9f221870c2ece3d822516eef79_247141899ccde0afa8dcb3453df118fb.jpg?crop=607-341"}/
      %h4.title 東急ハンズ渋谷店2Aフロアに「プロデューサーズSTUDIO」がOPEN！

      %p.date 2018.09.21
