%li.BlogArticleItem
  %a.link{:href => "http://blog.makuake.com/posts/3175861", :target => "_blank"}
    %article
      .image
        %img.image-thumbnail-m{:alt => "スタッフが選ぶオススメプロジェクト", :src => "https://cdn.amebaowndme.com/madrid-prd/madrid-web/images/sites/168893/22b843abe89f61ad6ed77aecd68b6a7f_d77e7b35d01c985e7c276806c5f063e7.jpg?crop=607-341"}/
      %h4.title スタッフが選ぶオススメプロジェクト
      %p.date 2018.10.12
