%section#return41094.kakusectionRight
  .lefth4RightBase
    %h4.lefth4Right
      【コース名が入ります】
      %span.abstractSpan (税込)
    .lefth4RightNum
      %p{"data-investment-info-return-remain" => ""}
      【残り個数が入ります】
  %a.ProjectDetailInRight{"data-investment-info-return-link-to-select-main" => "", :href => "/investment/select/georiem7/41094/"}
    %h5.lefth5Right 【セールスコピー】　
    .photoSectionUp
      %img.lazy{:alt => "ここに画像", "data-original" => "/", :height => "165px", :src => "/", :style => "display: inline;", :width => "280px"}/
    %p.detailTextRight
      【ここにコースの詳細情報を入れる】
    %p.detailAside02Uptext
      %svg.icon_shien
        %use{"xlink:href" => "#icon-user-03", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      = succeed "\u{304c}\u{652f}\u{63f4}\u{3057}\u{3066}\u{3044}\u{307e}\u{3059}\u{3002}" do
        %span{"data-investment-info-return-supported-amount" => ""} 31人
    %p.detailAside03Uptext
      %svg.icon_delivery
        %use{"xlink:href" => "#icon-case", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
      2019年01月末までにお届け予定です。
  %aside.detailAside02
    %a.shienBtn02{"data-investment-info-return-link-to-select-btn" => "sold-out", :href => "#", :style => "display:none;"}
      在庫切れ
    %a.shienBtn{"data-investment-info-return-link-to-select-btn" => "not-sold-out", :href => "/investment/select/georiem7/41094/", :style => ""}
      このコースに申込む
