%li.return-li
  %a.return-link{:href => "https://www.makuake.com/project/sesame/"}
    %article
      %img.image-thumbnail-s{:alt => "【追加コース】32％Off セサミmini 1台", :src => "https://hayabusa.io/makuake/upload/project/4862/return_4862_39408.png?fit=scale&format=png&ttl=31536000&version=1539403862&force&width=368&height=218&quality=95"}/
      %h4.return-item-title 【追加コース】32％Off セサミmini 1台
