- @courses.each do |course|
  %li.return-li
    = link_to project_path(course.project_id), class:"return-link" do
      %article
        %img.image-thumbnail-s{:alt => "#{course.name}", :src => "#{course.project.thumbnail}"}/
        %h4.return-item-title #{course.name}
