- @courses.each do |course|
  %li.return-li
    %a.return-link{:href => "https://www.makuake.com/project/sesame/"}
      %article
        - course.project.project_images.each do |image|
          %img.image-thumbnail-s{:alt => "#{course.name}", :src => "#{image.image}"}/
          %h4.return-item-title #{course.name}
