- @new.each do |new|
  %li.ProjectItem.ProjectItem--4column
    = link_to project_path(new.id), class:"link link--without-detail" do
      %article
        .image
          .image-overlay.image-overlay--new
            %img.image-thumbnail-m{:alt => "#{new.name}", :src => "#{new.thumbnail}"}/
        %h4.new_title.title #{new.name}

