%li.MakuakeContentItem
  %a.link{:href => "https://www.makuake.com/pages/press/detail/143/"}
    %article
      .image-wrapper
        %img.image-thumbnail-l{:alt => "韓国のクラウドファンディングサービス「Wadiz」と業務提携 - 韓国進出サポート -", :src => "https://hayabusa.io/makuake/upload/content/84/main_84.png?fit=max&format=png&ttl=31536000&version=1531388926&force&width=632&height=356&quality=95"}/
      %h4.title 韓国のクラウドファンディングサービス「Wadiz」と業務提携 - 韓国進出サポート -

%li.MakuakeContentItem
  %a.link{:href => "https://www.makuake.com//landing/isetan/"}
    %article
      .image-wrapper
        %img.image-thumbnail-l{:alt => "ISETAN × Makuake", :src => "https://hayabusa.io/makuake/upload/content/59/main_59.jpg?fit=max&format=jpg&ttl=31536000&version=1531388926&force&width=632&height=356&quality=95"}/
      %h4.title ISETAN × Makuake

%li.MakuakeContentItem
  %a.link{:href => "http://blog.makuake.com/posts/3199801"}
    %article
      .image-wrapper
        %img.image-thumbnail-l{:alt => "代表・中山著『クラウドファンディング革命』発売中", :src => "https://hayabusa.io/makuake/upload/content/80/main_80.png?fit=max&format=png&ttl=31536000&version=1531388926&force&width=632&height=356&quality=95"}/
      %h4.title 代表・中山著『クラウドファンディング革命』発売中
