%a.supporting-comment-content{:href => "/"}
  .supporting-comment-left
    %img.supporting-comment-icon{:src => "/"}/
  .supporting-comment-right
    %p.supporting-comment-name 【ユーザーのネームを表示】
    %p.supporting-comment-date 【何時間前の投稿コメントか表示】
    %p.supporting-comment-message
      【ここに応援コメントが来る】
