%li.CommunicationItem
  %article
    %a.project-link{:href => "https://www.makuake.com/project/nobelt/communication/detail/161082/"}
      %img.image-thumbnail-s{:alt => "nobelt【ノーベルト】もう、ベルトはいらない。カラダを楽に、快適に", :src => "https://hayabusa.io/makuake/upload/project/4838/main_4838.jpg?fit=scale&format=jpg&ttl=31536000&version=1536908401&force&width=368&height=206&quality=95"}/
      %h4.posted 100万円に到達しました
    .user
      %img.user-image{:alt => "MiyamotoDesign co.", :src => "https://hayabusa.io/makuake/upload/user/regist2018/03/29/290418/main_290418.jpg?fit=scale&format=jpg&ttl=31536000&version=1537764016&force&width=130&height=130&quality=95"}/
      %p.user-name MiyamotoDesign co.
