%div
  .swiper-container.heroes.swiper-container-horizontal
    / Additional required wrapper
    .swiper-wrapper
      / Slides
      .swiper-slide
        %img.image-background{:alt => "project1", :src => "https://hayabusa.io/makuake/upload/hero/111/hero_bg_pc_111.png?format=png&ttl=31536000&version=1539307035&force&quality=95"}/
        .HeroItem
          .main--project
            %a.link--project{:href => "https://www.makuake.com/project/your-restaurant/?from=hero_image_1", :target => "_self"}
              .img--project
                %img.image-thumbnail{:alt => "世界でひとつだけ！星付きシェフが「あなた専用のコース」をつくる会員制レストラン", :src => "https://hayabusa.io/makuake/upload/project/4736/main_4736.png?fit=scale&format=png&ttl=31536000&version=1535689551&force&width=520&height=292&quality=95"}/
              .title
                %p.title-inner--project{:style => "text-indent: 0;"} 世界でひとつだけ！星付きシェフが「あなた専用のコース」をつくる会員制レストラン
          .attribute
            .time
              %span.time-prefix 残り
              %span.time-text 999日
            .money
              %span.money-prefix 集まっている金額
              %span.money-text 99,999,999円
            .bar
              .bar-background
                .bar-foreground{:style => "width: 99999%;"}
              %span.bar-percent 99999%
          .view-button
            %a.view-button-link{:href => "https://www.makuake.com/project/your-restaurant/?from=hero_btn_1", :target => "_self"}
              VIEW
      .swiper-slide
        %img.image-background{:alt => "project2", :src => "https://hayabusa.io/makuake/upload/hero/122/hero_bg_pc_122.png?format=png&ttl=31536000&version=1539219058&force&quality=95"}/
        .HeroItem
          .main--project
            %a.link--project{:href => "https://www.makuake.com/project/your-restaurant/?from=hero_image_1", :target => "_self"}
              .img--project
                %img.image-thumbnail{:alt => "「私たちだってVRライブを盛り上げたい！」バーチャル音楽フェス 制作プロジェクト", :src => "https://hayabusa.io/makuake/upload/project/5086/main_5086.png?fit=scale&format=png&ttl=31536000&version=1538102181&force&width=520&height=292&quality=95"}/
              .title
                %p.title-inner--project{:style => "text-indent: 0;"} 「私たちだってVRライブを盛り上げたい！」バーチャル音楽フェス 制作プロジェクト
          .attribute
            .time
              %span.time-prefix 残り
              %span.time-text 999日
            .money
              %span.money-prefix 集まっている金額
              %span.money-text 99,999,999円
            .bar
              .bar-background
                .bar-foreground{:style => "width: 99999%;"}
              %span.bar-percent 99999%
          .view-button
            %a.view-button-link{:href => "https://www.makuake.com/project/your-restaurant/?from=hero_btn_1", :target => "_self"}
              VIEW
      .swiper-slide
        %img.image-background{:alt => "project3", :src => "https://hayabusa.io/makuake/upload/hero/115/hero_bg_pc_115.png?format=png&ttl=31536000&version=1539307035&force&quality=95"}/
        .HeroItem
          .main--project
            %a.link--project{:href => "https://www.makuake.com/project/your-restaurant/?from=hero_image_1", :target => "_self"}
              .img--project
                %img.image-thumbnail{:alt => "日本メーカーが本気で作る。本格SIMフリー携帯  un.mode phone01", :src => "https://hayabusa.io/makuake/upload/project/4813/main_4813.png?fit=scale&format=png&ttl=31536000&version=1538640571&force&width=520&height=292&quality=95"}/
              .title
                %p.title-inner--project{:style => "text-indent: 0;"} 日本メーカーが本気で作る。本格SIMフリー携帯  un.mode phone01
          .attribute
            .time
              %span.time-prefix 残り
              %span.time-text 999日
            .money
              %span.money-prefix 集まっている金額
              %span.money-text 99,999,999円
            .bar
              .bar-background
                .bar-foreground{:style => "width: 99999%;"}
              %span.bar-percent 99999%
          .view-button
            %a.view-button-link{:href => "https://www.makuake.com/project/your-restaurant/?from=hero_btn_1", :target => "_self"}
              VIEW
      .swiper-slide
        %img.image-background{:alt => "project4", :src => "https://hayabusa.io/makuake/upload/hero/120/hero_bg_pc_120.png?format=png&ttl=31536000&version=1539310916&force&quality=95"}/
        .HeroItem
          .main--project
            %a.link--project{:href => "https://www.makuake.com/project/your-restaurant/?from=hero_image_1", :target => "_self"}
              .img--project
                %img.image-thumbnail{:alt => "パッと布団から出られる！温かく気持ちいい、冬に負けない究極のパジャマ「もちはだ」", :src => "https://hayabusa.io/makuake/upload/project/5079/main_5079.png?fit=scale&format=png&ttl=31536000&version=1538723873&force&width=520&height=292&quality=95"}/
              .title
                %p.title-inner--project{:style => "text-indent: 0;"} パッと布団から出られる！温かく気持ちいい、冬に負けない究極のパジャマ「もちはだ」
          .attribute
            .time
              %span.time-prefix 残り
              %span.time-text 999日
            .money
              %span.money-prefix 集まっている金額
              %span.money-text 99,999,999円
            .bar
              .bar-background
                .bar-foreground{:style => "width: 99999%;"}
              %span.bar-percent 99999%
          .view-button
            %a.view-button-link{:href => "https://www.makuake.com/project/your-restaurant/?from=hero_btn_1", :target => "_self"}
              VIEW
      .swiper-slide
        %img.image-background{:alt => "project5", :src => "https://hayabusa.io/makuake/upload/hero/112/hero_bg_pc_112.png?format=png&ttl=31536000&version=1539307035&force&quality=95"}/
        .HeroItem
          .main--project
            %a.link--project{:href => "https://www.makuake.com/project/your-restaurant/?from=hero_image_1", :target => "_self"}
              .img--project
                %img.image-thumbnail{:alt => "あ！忘れてた...を解消！あなたをフォローする”気づかせメモ”「カクミル」", :src => "https://hayabusa.io/makuake/upload/project/4669/main_4669.jpg?fit=scale&format=jpg&ttl=31536000&version=1538967840&force&width=520&height=292&quality=95"}/
              .title
                %p.title-inner--project{:style => "text-indent: 0;"} あ！忘れてた...を解消！あなたをフォローする”気づかせメモ”「カクミル」
          .attribute
            .time
              %span.time-prefix 残り
              %span.time-text 999日
            .money
              %span.money-prefix 集まっている金額
              %span.money-text 99,999,999円
            .bar
              .bar-background
                .bar-foreground{:style => "width: 99999%;"}
              %span.bar-percent 99999%
          .view-button
            %a.view-button-link{:href => "https://www.makuake.com/project/your-restaurant/?from=hero_btn_1", :target => "_self"}
              VIEW
      .swiper-slide
        %img.image-background{:alt => "banner1", :src => "https://hayabusa.io/makuake/upload/hero/121/hero_bg_pc_121.png?format=png&ttl=31536000&version=1538378133&force&quality=95"}/
        .HeroItem
          .main--banner
            %a.link--banner{:href => "https://www.makuake.com/project/your-restaurant/?from=hero_image_1", :target => "_self"}
              .img--banner
                %img.image-thumbnail{:alt => "", :src => "https://hayabusa.io/makuake/upload/hero/121/hero_thumb_121.png?format=png&ttl=31536000&version=1538378133&force&width=520&height=292&quality=95"}/
              .title
                %p.title-inner--banner 東急ハンズ渋谷店2Aフロアに「プロデューサーズSTUDIO」がOPEN！
          .view-button
            %a.view-button-link{:href => "https://www.makuake.com/project/your-restaurant/?from=hero_btn_1", :target => "_self"}
              VIEW
      .swiper-slide
        %img.image-background{:alt => "banner1", :src => "https://hayabusa.io/makuake/upload/hero/85/hero_bg_pc_85.png?format=png&ttl=31536000&version=1535624113&force&quality=95"}/
        .HeroItem
          .main--banner
            %a.link--banner{:href => "https://www.makuake.com/project/your-restaurant/?from=hero_image_1", :target => "_self"}
              .img--banner
                %img.image-thumbnail{:alt => "", :src => "https://hayabusa.io/makuake/upload/hero/85/hero_thumb_85.jpg?format=jpg&ttl=31536000&version=1535624113&force&width=520&height=292&quality=95"}/
              .title
                %p.title-inner--banner アプリのプッシュ通知で『お得リターン＆開始終了プロジェクト』の見逃しをなくそう！
          .view-button
            %a.view-button-link{:href => "https://www.makuake.com/project/your-restaurant/?from=hero_btn_1", :target => "_self"}
              VIEW
      .swiper-slide
        %img.image-background{:alt => "banner1", :src => "https://hayabusa.io/makuake/upload/hero/7/hero_bg_pc_7.jpg?format=jpg&ttl=31536000&version=1535624113&force&quality=95"}/
        .HeroItem
          .main--banner
            %a.link--banner{:href => "https://www.makuake.com/project/your-restaurant/?from=hero_image_1", :target => "_self"}
              .img--banner
                %img.image-thumbnail{:alt => "", :src => "https://hayabusa.io/makuake/upload/hero/7/hero_thumb_7.png?format=png&ttl=31536000&version=1535624113&force&width=520&height=292&quality=95"}/
              .title
                %p.title-inner--banner Makuakeで「世の中をワクワクさせるようなプロジェクト」を掲載してみませんか
          .view-button
            %a.view-button-link{:href => "https://www.makuake.com/project/your-restaurant/?from=hero_btn_1", :target => "_self"}
              VIEW
    / If we need pagination
    .swiper-pagination
      %ul
        %li 1
        %li 2
        %li 3
        %li 4
        %li 5
        %li 6
        %li 7
        %li 8
