%li.ProjectItem.ProjectItem--4column
  %a.link.link--without-detail{:href => "https://www.makuake.com/project/solarpaper/"}
    %article
      .image
        .image-overlay.image-overlay--store
          %img.image-thumbnail-m{:alt => "世界で最も薄くて軽い！どこでも持ち運びできるソーラー充電器《ソーラーペーパー》", :src => "https://hayabusa.io/makuake/upload/project/2052/main_2052.jpg?fit=scale&format=jpg&ttl=31536000&version=1480659057&force&width=464&height=260&quality=95"}/
      %h4.hot_title.title 世界で最も薄くて軽い！どこでも持ち運びできるソーラー充電器《ソーラーペーパー》
      / 
      / 
