%li.ProjectItem.ProjectItem--4column
  %a.link.link--without-detail{:href => "https://www.makuake.com/project/snap-grip/"}
    %article
      .image
        .image-overlay.image-overlay--store
          %img.image-thumbnail-m{:alt => "【従来の卓上三脚を超えた】スマホやGoProで『撮る』を楽しむSNAP-GRIP", :src => "https://hayabusa.io/makuake/upload/project/4764/main_4764.jpg?fit=scale&format=jpg&ttl=31536000&version=1539135641&force&width=464&height=260&quality=95"}/
      %h4.hot_title.title 【従来の卓上三脚を超えた】スマホやGoProで『撮る』を楽しむSNAP-GRIP


%li.ProjectItem.ProjectItem--4column
  %a.link.link--without-detail{:href => "https://www.makuake.com/project/solarpaper/"}
    %article
      .image
        .image-overlay.image-overlay--store
          %img.image-thumbnail-m{:alt => "世界で最も薄くて軽い！どこでも持ち運びできるソーラー充電器《ソーラーペーパー》", :src => "https://hayabusa.io/makuake/upload/project/2052/main_2052.jpg?fit=scale&format=jpg&ttl=31536000&version=1480659057&force&width=464&height=260&quality=95"}/
      %h4.hot_title.title 世界で最も薄くて軽い！どこでも持ち運びできるソーラー充電器《ソーラーペーパー》


%li.ProjectItem.ProjectItem--4column
  %a.link.link--without-detail{:href => "https://www.makuake.com/project/snap-grip/"}
    %article
      .image
        .image-overlay.image-overlay--store
          %img.image-thumbnail-m{:alt => "お出かけが楽しくなる！お揃いのヨダレかけ★一緒に写真が撮りたくなる親子コーデ", :src => "https://hayabusa.io/makuake/upload/project/4384/main_4384.jpg?fit=scale&format=jpg&ttl=31536000&version=1535964372&force&width=464&height=260&quality=95"}/
      %h4.hot_title.title お出かけが楽しくなる！お揃いのヨダレかけ★一緒に写真が撮りたくなる親子コーデ


%li.ProjectItem.ProjectItem--4column
  %a.link.link--without-detail{:href => "https://www.makuake.com/project/solarpaper/"}
    %article
      .image
        .image-overlay.image-overlay--store
          %img.image-thumbnail-m{:alt => "【天然の空気清浄機】消臭・調湿する高機能インテリアタイル「タツタイル」", :src => "https://hayabusa.io/makuake/upload/project/4858/main_4858.png?fit=scale&format=png&ttl=31536000&version=1538638365&force&width=464&height=260&quality=95"}/
      %h4.hot_title.title 【天然の空気清浄機】消臭・調湿する高機能インテリアタイル「タツタイル」

