#wrapperMypage
  / contentWrapper
  #contentWrapper.clearfix
    = render 'sidenavi'
    / rightContentMain
    #rightContentMain
      %section#profileDetails
        %h2.ttlDetails 購入履歴(ストア)
        .DeteilIn{"data-gtm-vis-first-on-screen-657891_277" => "123", "data-gtm-vis-first-on-screen-657891_294" => "126", "data-gtm-vis-has-fired-657891_277" => "1", "data-gtm-vis-has-fired-657891_294" => "1", "data-gtm-vis-recent-on-screen-657891_277" => "123", "data-gtm-vis-recent-on-screen-657891_294" => "126", "data-gtm-vis-total-visible-time-657891_277" => "100", "data-gtm-vis-total-visible-time-657891_294" => "100"}
          %section.projectBox.ttlSuccess
            %a.projectLinkMypage{:href => "/project/hideyoshinooyatsu/"}
              %img{:alt => "", :height => "198", :src => "//hayabusa.io/makuake/upload/project/4835/main_4835.fit-scale.JPG?width=308&height=198&quality=95&version=1539308018&format=jpg&ttl=31536000&force", :width => "308"}/
              %h2 大阪らしいおかきの缶詰「秀吉のおやつ」を作りたいプロジェクト！
            %aside.projectAside
              %a.projectThumb{:href => "/member/index/402018/"}
                %img{:alt => "", :height => "36", :src => "//hayabusa.io/makuake/upload/user/regist2018/08/07/402018/main_402018.fit-scale.jpg?width=36&height=36&quality=95&version=1534904740&format=jpg&ttl=31536000&force", :width => "36"}/
                %span コンフロント&amp;boor
              %a.projectTag{:href => "/discover/categories/food/"} フード
            .projectFooter
              .projectMoney
                %dl
                  %dt 集まっている金額
                  %dd 380,000円
              .projectGage
                .projectGageIn{:style => "width: 100%;"}
                  %p 146%
              .projectBottom
                .projectSupporter
                  %dl
                    %dt 支援者
                    %dd 42人
                .iconNowOnSale
                  好評発売中
          .moneyArea
            %section.moneyAreaIn
              .moneyAreaInTitle
                %p.money-title--ttl 商品名
                %p.money-title--name 金箔入りおかき缶詰、天下人ひでよしのおやつ。お土産やゲン担ぎ商品としてどうぞ
                .moneyArea--flex
                  .moneyArea--flex--r
                    %p.money-title--ttl 商品単価
                    %p.money-title--num
                      550円
                      %span.money__statement (税込) + 送料
                  %div
                    %p.money-title--ttl 数量
                    %p.money-title--num.money-title--num-mg 2個
              .order-info
                %span 注文ID : 814785
                %span.buyTime 購入日 : 2018/10/20
              %p.js-return-desc.return-desc
                ※1缶550円（税込）でのご提供となります
                %br/
                %br/
                豊臣秀吉も愛したおかき（かきもち）に金箔を入れ、さらに缶詰化することで、贈答やお土産商品として製品化できました。
                %br/
                %br/
                想像以上に多くの方にご支援頂き、クラウドファンディング中にも多くの企業様やショップからお引き合いの声を頂くなど、思った以上に（？）売れてるイケてる商品みたいです！
                %br/
                %br/
                初回ロットには、ご支援頂いた方々のお名前が缶にクレジットされるなど、愛と感謝が形になった商品です。
                %br/
                %br/
                おめでたい商品、映える商品をお探しの方にオススメです♬
              .shoppingReceipt{"data-investment_id" => "814785", "data-payment_type" => "1", "data-product_id" => "2438", "data-project_id" => "4835"}
                領収書を発行
              .chageAd-gray お届け先を変更
              .cancel
                %a.triggerCancelRequestWithNewThread.js-move-top{"data-owner_account" => "コンフロント&boor", "data-owner_id" => "402018", "data-project_code" => "hideyoshinooyatsu", "data-project_id" => "4835", :href => "#cancel_modal_message", :rel => "leanModal"} キャンセルリクエスト
              .information-aboutbtn-box
                %dl.information-aboutbtn
                  %dt.information-aboutbtn-ttl お届け先を変更できない
                  %dd.information-aboutbtn-txt
                    商品の配送準備を進めている為、住所変更ができません。
                    %br>/
                    事業者へ直接お問い合わせください。
          .moneyArea
            %section.moneyAreaIn
              .moneyAreaInTitle
                %p.money-title--ttl 商品名
                %p.money-title--name 金箔入りおかき缶詰、天下人ひでよしのおやつ。お土産やゲン担ぎ商品としてどうぞ
                .moneyArea--flex
                  .moneyArea--flex--r
                    %p.money-title--ttl 商品単価
                    %p.money-title--num
                      550円
                      %span.money__statement (税込) + 送料
                  %div
                    %p.money-title--ttl 数量
                    %p.money-title--num.money-title--num-mg 2個
              .order-info
                %span 注文ID : 814807
                %span.buyTime 購入日 : 2018/10/20
              %p.js-return-desc.return-desc
                ※1缶550円（税込）でのご提供となります
                %br/
                %br/
                豊臣秀吉も愛したおかき（かきもち）に金箔を入れ、さらに缶詰化することで、贈答やお土産商品として製品化できました。
                %br/
                %br/
                想像以上に多くの方にご支援頂き、クラウドファンディング中にも多くの企業様やショップからお引き合いの声を頂くなど、思った以上に（？）売れてるイケてる商品みたいです！
                %br/
                %br/
                初回ロットには、ご支援頂いた方々のお名前が缶にクレジットされるなど、愛と感謝が形になった商品です。
                %br/
                %br/
                おめでたい商品、映える商品をお探しの方にオススメです♬
              .shoppingReceipt{"data-investment_id" => "814807", "data-payment_type" => "1", "data-product_id" => "2438", "data-project_id" => "4835"}
                領収書を発行
              .chageAd-gray お届け先を変更
              .cancel
                %a.triggerCancelRequestWithNewThread.js-move-top{"data-owner_account" => "コンフロント&boor", "data-owner_id" => "402018", "data-project_code" => "hideyoshinooyatsu", "data-project_id" => "4835", :href => "#cancel_modal_message", :rel => "leanModal"} キャンセルリクエスト
              .information-aboutbtn-box
                %dl.information-aboutbtn
                  %dt.information-aboutbtn-ttl お届け先を変更できない
                  %dd.information-aboutbtn-txt
                    商品の配送準備を進めている為、住所変更ができません。
                    %br>/
                    事業者へ直接お問い合わせください。
          .moneyArea
            %section.moneyAreaIn
              .moneyAreaInTitle
                %p.money-title--ttl 商品名
                %p.money-title--name 金箔入りおかき缶詰、天下人ひでよしのおやつ。お土産やゲン担ぎ商品としてどうぞ
                .moneyArea--flex
                  .moneyArea--flex--r
                    %p.money-title--ttl 商品単価
                    %p.money-title--num
                      550円
                      %span.money__statement (税込) + 送料
                  %div
                    %p.money-title--ttl 数量
                    %p.money-title--num.money-title--num-mg 6個
              .order-info
                %span 注文ID : 814841
                %span.buyTime 購入日 : 2018/10/20
              %p.js-return-desc.return-desc
                ※1缶550円（税込）でのご提供となります
                %br/
                %br/
                豊臣秀吉も愛したおかき（かきもち）に金箔を入れ、さらに缶詰化することで、贈答やお土産商品として製品化できました。
                %br/
                %br/
                想像以上に多くの方にご支援頂き、クラウドファンディング中にも多くの企業様やショップからお引き合いの声を頂くなど、思った以上に（？）売れてるイケてる商品みたいです！
                %br/
                %br/
                初回ロットには、ご支援頂いた方々のお名前が缶にクレジットされるなど、愛と感謝が形になった商品です。
                %br/
                %br/
                おめでたい商品、映える商品をお探しの方にオススメです♬
              .shoppingReceipt{"data-investment_id" => "814841", "data-payment_type" => "1", "data-product_id" => "2438", "data-project_id" => "4835"}
                領収書を発行
              .chageAd-gray お届け先を変更
              .cancel
                %a.triggerCancelRequestWithNewThread.js-move-top{"data-owner_account" => "コンフロント&boor", "data-owner_id" => "402018", "data-project_code" => "hideyoshinooyatsu", "data-project_id" => "4835", :href => "#cancel_modal_message", :rel => "leanModal"} キャンセルリクエスト
              .information-aboutbtn-box
                %dl.information-aboutbtn
                  %dt.information-aboutbtn-ttl お届け先を変更できない
                  %dd.information-aboutbtn-txt
                    商品の配送準備を進めている為、住所変更ができません。
                    %br>/
                    事業者へ直接お問い合わせください。
          #cancel_modal
            .cancel_inner
              .modal_close_global{:href => ""}
                %svg.modal_close_global-icon
                  %use{"xlink:href" => "#icon-close", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %p.cancel_ttl ご注意ください
              %p.cancel_p キャンセル出来るかどうかは保証できません。出品者が既にご注文の発送準備をしている可能性があります。
              .popupBtns.clearfix
                #cancel_request_dynamic
          %script#template_modal_cancel_request{:type => "text/template"}
            :cdata
              <a href="/my/message/talk/{{projectId}}/{{threadId}}" class="messageBtn btncol_03">メッセージを入力</a>
          #cancel_modal_message
            .cancel_inner
              .modal_close_global{:href => ""}
                %svg.modal_close_global-icon
                  %use{"xlink:href" => "#icon-close", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
              %p.cancel_ttl ご注意ください
              %p.cancel_p キャンセル出来るかどうかは保証できません。出品者が既にご注文の発送準備をしている可能性があります。
              .popupBtns.clearfix
                #cancel_request_message_dynamic
                %a.triggerCancelRequestModalWithNewThread.btncol_03{:href => "#createMessageThread"} メッセージを入力
          #createMessageThread
            %p.title メッセージを送信する
            %span#message_error{:style => "display:none;"}
            #message_post_dynamic
            %button.back 戻る
          %script#template_modal_message{:type => "text/template"}
            :cdata
              <p class="submitOpponent">To: {{ownerAccount}}</p>
              <textarea id="messageBody" class="message" maxlength=2000></textarea>
              <p class="contact_me_count"><span id="counter">2000</span>/2000</p>
              <button class="sendMessage btncol_03" data-project_id="{{projectId}}">送信する</button>
          #contact_me_box_confirm{:style => "display:none;"}
            .modal_close_global{:href => ""}
              %svg.modal_close_global-icon
                %use{"xlink:href" => "#icon-close", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %p#message_sent.contact_me_ttl メッセージが送信されました。
            %a#url_confirm{:href => ""} 確認する
/ ./contentWrapper
/ Pagetopボタン
#page-top_jq{:style => "display:black"}
  %a{:href => "#wrap"} page top

