%li.MakuakeContentItem
  %a.link{:href => "https://www.makuake.com/pages/press/detail/143/"}
    %article
      .image-wrapper
        %img.image-thumbnail-l{:alt => "韓国のクラウドファンディングサービス「Wadiz」と業務提携 - 韓国進出サポート -", :src => "https://hayabusa.io/makuake/upload/content/84/main_84.png?fit=max&format=png&ttl=31536000&version=1531388926&force&width=632&height=356&quality=95"}/
      %h4.title 韓国のクラウドファンディングサービス「Wadiz」と業務提携 - 韓国進出サポート -
