%h1 プロジェクトのindexページです
- if user_signed_in?
  %p
    = link_to 'ログアウト', destroy_user_session_path, method: :delete
- else
  %p
    = link_to '新規登録', new_user_registration_path, method: :get
  %p
    = link_to 'ログイン', new_user_session_path, method: :get
