.footer-help-link .footer-help-icon {
    background: url(https://cdn-m.makuake.com/rev_2018/10/10/132936/img/footer/footer_help.png) no-repeat 0 0;
    width: 60px;
    height: 61px;
    background-size: contain;
    position: absolute;
    left: 30px;
    top: 18px;
    }


