#header {
    width: 100%;
    background: #fff;
    #headerIn {
      width: 1000px;
      margin: auto;
      background: #FFF;
      height: 66px;
      position: relative;
      overflow: hidden;
      display: flex;
      }
    }


img.image-thumbnail-l{
  width: 316px;
  height: 163.5px;
}

img.image-thumbnail-m{
  width: 232px;
  height: 130px;
}

img.image-thumbnail-s{
  width: 184px;
  height: 103px;
}

img.user-image {
    border-radius: 51%;
    display: block;
    height: 65px;
    margin: 0 auto 18px;
    width: 65px;
}


.popular-base {
    background: #f5f5f5;
    height: auto;
    overflow: hidden;
    width: 100%;
    .CatchCopy {
        background: #f8f8f8;
        height: 123px;
        margin-bottom: 46px;
        padding-top: 27px;
        text-align: center;
        .title {
            font-size: 26px;
            letter-spacing: .08px;
            margin-bottom: 21px;
            text-indent: 9px;
        }
    }
    .description {
        color: #757575;
        font-size: 16px;
    }
}



.headline{
    margin: 0 auto 60px;
    position: relative;
    width: 1000px;
    .Title {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 0 30px;
        vertical-align: middle;
        .subject {
            font-size: 24px;
            line-height: 36px;
        }
    }
    .TitleLink {
        border: 1px solid #989898;
        border-radius: 4px;
        color: #4a4a4a;
        font-size: 12px;
        height: 36px;
        padding: 0px 14px 10px 17px;
        text-decoration: none;
        position: absolute;
        right: 0;
        top: 0;
        .arrow {
            fill: #5a5a5a;
            height: 9px;
            width: 9px;
        }
    }
}




.ProjectItem--4column {
    margin-right: 24px;
    width: 232px;
}

.testbox{
  display: block;
  width:184px;
  height: 103px;
  background: #ffffff;
  margin-right: 20px;
  align-items: center;
}

//------------------------------------------------------------------------------
// ダミー記事



// ここまでダミー
//------------------------------------------------------------------------------



.BlogArticle{
  margin: 0 auto 110px;
}

.MakuakeContent{
  margin: 0 auto 110px;
}

#page-top_jq {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    display: block;
}
#page-top_jq a {
    width: 56px;
    height: 56px;
    display: block;
    background: url(https://cdn-m.makuake.com/rev_2018/10/10/132936/img/btn_pagetop.png) no-repeat;
    text-indent: -9999px;
}

.footer {
    position: relative;
    background: #ffffff;
    padding-top: 40px;
}

.footer-in {
    width: 1000px;
    margin: auto;
}
