@charset "UTF-8";
/* CSS Document */


/* ============================================================
   default
============================================================ */

html{ font-size: 62.5%; }

body {color:#333333;
  font-family:"Lucida Grande","Lucida Sans Unicode","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W6","HiraKakuPro-W6", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  word-break: break-all;
  -webkit-text-size-adjust: 100%;
  line-height: 1;
  font-size: 16px;
  font-size: 1.6rem;
  background-color: white;
  min-width: 1000px;
}

/*海外版単語折り返し*/
#language_En{
  word-wrap:break-word;
  word-break: normal;;
}

::selection {
  background: #ffe600; /* Safari */
}

::-moz-selection {
  background:#ffe600; /* Firefox */
}

a{color:#4AB3DF;text-decoration: none;outline: none;}
a:hover{text-decoration:underline;}

/*google コンバージョンソースを不可視*/
iframe[name="google_conversion_frame"]{display: none;}



/* ============================================================
   header
============================================================ */
/* ベース */
#header{width: 100%;background: #FFF;}
#headerIn{width: 1000px;margin: auto;background: #FFF; height: 66px;position: relative;/*overflow: hidden;*/}

/* ロゴ ログイン前後共通 */
.siteId {display: block;height: 30px;position: absolute;top: 18px;width: 136px;}
.siteId:hover {opacity: .8;text-decoration: none;}
.makuake-logo {height: 30px;width: 136px;}

/* 検索フォーム ログイン前後共通  */
.findHeaderForm{display: flex;display: -webkit-flex;position: absolute;top: 15px;left: 158px; }
.findHeaderInput{width: 210px;height: 36px;line-height: 36px;padding: 0 12px;font-size: 14px;border-top: 1px solid #D3D3D3;border-left: 1px solid #D3D3D3;border-bottom: 1px solid #D3D3D3;border-radius: 4px 0 0 4px!important;outline: none;border-right: none;}
.findHeaderInput::-webkit-input-placeholder{color: #a2a2a2; font-size: 14px;letter-spacing: 2px;}
.findFormHeaderSubmit {width: 90px;height: 36px;border: 1px solid #d3d3d3;border-radius: 0 4px 4px 0;background: #ffffff;overflow: hidden;outline: none;cursor: pointer;-webkit-transition:all 0.3s ease;transition:all 0.3s ease;font-size: 14px;color: #333333;position: relative;}
.findFormHeaderSubmit-txt {position: absolute;left: 45px;top: 8px;font-size: 13px;}
/* サーチアイコン */
.findFormHeaderSubmit-iconbox{width: 19px;height: 60px;position: absolute;left: 17px;top: 8px;-webkit-transition:all 0.3s ease;transition:all 0.3s ease;}
.findFormHeaderSubmit-iconboxin{display: block;}
.findFormHeaderSubmit-iconboxin:not(:last-child){margin-bottom: 22px;}
.findFormHeaderSubmit-iconboxin--black{fill: #717171;width: 18px;height: 18px;}
.findFormHeaderSubmit-iconboxin--white{fill:#ffffff;width: 18px;height: 18px;}
/* 探すhover時 */
.findHeaderForm:hover .findFormHeaderSubmit{background-color: #f7c600;background-position: 14px -33px;-webkit-transition:all 0.3s ease;transition:all 0.3s ease;border: 1px solid #f7c600;color:#ffffff;}
.findHeaderForm:hover .findFormHeaderSubmit-iconbox{top: -35px;-webkit-transition:all 0.3s ease;transition:all 0.3s ease;}

/* ログイン前 */
#navigation{position: absolute;right: 0;height: 66px;}
#navigation .nav-header-box{ height: 100%;display: -webkit-flex;display: flex;-webkit-justify-content: flex-end;justify-content: flex-end;-webkit-align-items: center;align-items: center;}
#navigation .nav-header-box li{position: relative;}

/* ログイン前 探す */
#navigation .header-link-search{color: #333333;font-size: 14px;display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;height: 66px;margin-right: 35px;display: none;}

/* ログイン前 掲載する */
#navigation .header-link-apply{color: #333333;font-size: 14px;display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;height: 66px;margin-right: 23px;}

/* ログイン前 お気に入り登録 */
#navigation .header-like{color: #333333;display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;font-size: 14px;height:66px;}
#navigation .like-heart {fill: #898989;height: 18px;stroke-width: 0.5;stroke: #898989;width: 20px;margin-right: 4px;position: relative;top: 1px;}
#navigation .like-heart-txt{position: relative;}
#navigation .like-heart-txt-new{width: 30px;height: 14px;display: block;position: absolute;background: #FE2278;color: #ffffff;text-transform: uppercase;font-size: 8px;text-align: center;padding-top: 3px;border-radius: 40px;right: -21px;top: -9px;}

/* ログイン前 お気に入り登録 ツールチップ */
.header-like-box:hover .header-like-tooltip{ visibility:visible;opacity: 1;   -webkit-transition: all .2s  ease;transition: all .2s  ease;}
.header-like-tooltip {visibility:hidden; opacity: 0;width: 280px;background: #ffffff;z-index: 1000;position: absolute;left: -90px;margin-right: -380px;border: 1px solid #e4e4e4;box-shadow: rgba(12, 3, 7, 0.14902) 0px 0px 13px 0px;color: #333333;border-bottom: 1px solid #e4e4e4;border-radius: 2px;overflow: hidden;padding: 18px 23px 23px 23px;text-align: center;font-size: 14px;-webkit-transition: all .2s ease;transition: all .2s  ease;}
.header-like-tooltip-box{position: relative;}
.header-like-tooltip-icon{width: 55px;height: 55px;fill:#FE2278;stroke: #ffffff;stroke-width: 1;margin:auto;display:block;position: relative;left: -7px;}
.header-like-tooltip-new{color: #FE2278;text-transform: uppercase;position: absolute;right: 69px;top: 36px;}
.header-like-tooltip-txt{color: #797979;margin: 14px auto 19px auto;line-height: 1.7;}

/* ログイン前 ログインボタン */
#navigation .header-btn-login {width: 86px;height: 34px;line-height: 35px;text-align: center;border-radius: 3px;display: block;background: #f7c600;color: white;font-size: 14px;margin-left: 31px;}
#navigation .header-btn-login:hover{background:#f9d133;text-decoration: none;}

/* ログイン前 新規登録 */
#navigation .header-btn-signin {width: 86px;height: 34px;line-height: 32px;text-align: center;border-radius: 3px;border: 2px solid #f7c600;color: #f7c600;display: block;font-size: 14px;margin-left: 16px;}
#navigation .header-btn-signin:hover{opacity: .6;text-decoration: none;}

/* ログイン後---------------------------------------- */
#navigation02{position: absolute;right: 0;height: 66px;}
#navigation02 .nav-header-box-after{height: 100%;display: -webkit-flex;display: flex;-webkit-justify-content: flex-end;justify-content: flex-end;-webkit-align-items: center;align-items: center;}
#navigation02 .nav-header-box-after li{position: relative;}

/* ログイン後 探す */
#navigation02 .header-link-search{color: #333333;font-size: 14px;display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;height: 66px;margin-right: 34px;display: none;}

/* ログイン後 掲載する */
#navigation02 .header-link-apply-after{color: #333333;font-size: 14px;min-width: 154px;display: block;}

/* ログイン後 お気に入り登録後  */
#navigation02 .header-like-after{color: #333333;display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;font-size: 14px;margin-left: 20px;width: 54px;-webkit-justify-content: center; /* Safari */justify-content: center;height: 66px;}
#navigation02 .header-like-after:hover{opacity: .7;}
#navigation02 .like-heart-after {width: 26px;height: 24px;fill: #828282;position:relative;top: 2px;}
#navigation02 .like-after-num {position: absolute;bottom: 18px;right: 8px;background: #fe2278;padding: 3px 6px;border-radius: 70px;font-size: 10px;color: white;line-height: 12px;width: 17px;height: 17px;}


/* ログイン後 お気に入り登録をしていないのでNEWが表示される状態  */
#navigation02 .like-heart-txt-new {width: 30px;height: 14px;display: block;position: absolute;background: #FE2278;color: #ffffff;text-transform: uppercase;font-size: 8px;text-align: center;padding-top: 3px;border-radius: 40px;right: 0px;top: 20px;}


/* ログイン後 メッセージ  */
#navigation02 .header-mail-after{color: #333333;display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;font-size: 14px;width: 53px;-webkit-justify-content: center; /* Safari */justify-content: center;height: 66px;}
#navigation02 .header-mail-after:hover{opacity: .7;}
#navigation02 .mail-after {width: 27px;height: 26px;fill: #828282;position:relative;top: 2px;}
#navigation02 .mail-after-num{position: absolute;bottom: 18px;right: 6px;background: #fe2278;padding: 3px 6px;border-radius: 70px;font-size: 10px;color: white;height: 18px;line-height: 12px;}

/* ログイン後 ベル  */
#navigation02 .header-bell-after{color: #333333;display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;font-size: 14px;width: 54px;cursor: pointer;-webkit-justify-content: center; /* Safari */justify-content: center;height: 66px;}
#navigation02 .header-bell-after:hover{opacity: .7;}
#navigation02 .bell-after {width: 26px;height: 26px;fill: #828282;position:relative;top: 1px;}
#navigation02 .bell-after-num{position: absolute;bottom: 18px;right: 6px;background: #fe2278;padding: 3px 6px;border-radius: 70px;font-size: 10px;color: white;height: 18px;line-height: 12px;}



/*ログイン後の自分の顔*/
#navigation02 .link03After{cursor: pointer;position: relative;top: 2px;width: 32px;height: 32px;border-radius: 4px;margin-left: 24px;}
#navigation02 .link03After:hover{opacity: 0.8;cursor: pointer;}



/* マイページへの導線ツールチップ マイページ プロジェクト管理 支援したプロジェクト 購入履歴ストア ヘルプ　ログアウト */
#myMenuBox{display: none;width: 1000px;margin: auto;position: relative;font-size: 14px;}
#myMenuBox .headerMyIconClick{height: auto;border: 1px solid #e4e4e4;box-shadow: rgba(12, 3, 7, 0.14902) 0px 0px 13px 0px;position: absolute;right: -15px;top:33px;z-index: 20;background-color: #ffffff;border-radius: 2px;width: 260px;}
#myMenuBox .headerMyIconClick:before{content: "";width: 20px;border-color: #e4e4e4 transparent transparent;border-right: 5px solid transparent;border-style: solid;border-width: 12px;transform: rotateX(180deg);-webkit-transform: rotateX(180deg);position: absolute;right: 18px;top: -24px;-webkit-filter: drop-shadow(0px 4px 4px rgba(12, 3, 7, 0.14902));}
#myMenuBox .headerMyIconClick:after{content: "";width: 10px;border-color: white transparent transparent;border-right: 5px solid transparent;border-style: solid;border-width: 12px;transform: rotateX(180deg);-webkit-transform: rotateX(180deg);position: absolute;right: 18px;top: -23px;}
#myMenuBox .userImage02{width: 42px;height: 42px;margin-right: 14px;border-radius: 2px;}
#myMenuBox .myLink01{display: -webkit-flex;display: flex;-webkit-align-items: center;align-items: center;height: 70px;padding-left: 14px;color: #333333;}
#myMenuBox .linkDashChild {border-radius: 2px;display: block;margin: 0 auto 12px;}
#myMenuBox ul li:hover{background-color: #f8f8f8;}
#myMenuBox ul li:not(:last-child){border-bottom: 1px solid #e4e4e4;}
#myMenuBox .linkDash{padding: 14px 14px;color: #333333;display: block;text-align:center;}
#myMenuBox .links-mypage{line-height: 47px;padding-left: 14px;display: block;color: #333333;}
#myMenuBox .myLink01:hover,#header_dashboard .linkDash:hover,#myMenuBox .links-mypage:hover{text-decoration: none;}



/* perfect-scrollbar */
.modalRight .scrollArea{position: relative;height: 418px;overflow: hidden;}
.modalLeft .scrollArea{position: relative;height: auto;overflow: hidden;}
.ps-container .ps-scrollbar-y {width: 4px!important;right: 3px!important;background-color: #4C4C4C !important;}
.ps-scrollbar-x{display: none!important;overflow: hidden!important;}

/* ============================================================
   ツールチップ
============================================================ */
#toolTipsPjt{display: none;width: 1000px;margin: auto;position: relative;font-size: 14px;}
.toolTipsPjtIn{width: 430px;height: auto;max-height: 403px;min-height: 45px;background:white;z-index: 100;position: absolute;right: 35px;top:33px;border: 1px solid #e4e4e4;box-shadow: rgba(12, 3, 7, 0.14902) 0px 0px 13px 0px;color: #333333;border-bottom: 1px solid #e4e4e4;border-radius: 2px;overflow: hidden;}
.toolTipsPjtIn .notNotice{display: block;text-align: center;padding: 20px 0;}
#toolTipsPjt:before{width: 20px;border-color: #e4e4e4 transparent transparent;border-right: 5px solid transparent;border-style: solid;border-width: 12px;transform: rotateX(180deg);-webkit-transform: rotateX(180deg);position: absolute;right: 70px;top: -24px;-webkit-filter: drop-shadow(0px 2px 4px rgba(12, 3, 7, 0.14902));}
#toolTipsPjt:after{width: 10px;border-color: white transparent transparent;border-right: 5px solid transparent;border-style: solid;border-width: 12px;transform: rotateX(180deg);-webkit-transform: rotateX(180deg);position: absolute;right: 70px;top: -23px;z-index: 1000;}
 .toolTipsPjt02{
width: 100%;
height: 391px;
position: relative;
overflow: hidden;
margin-top: 5px;
}


.toolTipsPjt03{}
.inMsHeader{background: white;border-bottom: 1px solid rgb(219, 219, 219);cursor: pointer;padding: 12px;}
.inMsHeader:hover{background: #F8F8F8;}
.inMsUserHeader{}
.inMsLeft{float: left;width: 40px;height: 57px;}
.inMsLeft img{display: block;width: 40px;height: 40px;border-radius: 2px;}
.posOrner{font-size: 12px;text-align: center;padding: 0px;color: #b2b2b2;position: relative;top: 8px;left: 2px;}
.inMsRight{float: left;margin-left: 13px;width: 325px;}

.inMsTimeHeader{text-align: left;font-size: 10px;margin-top: 14px;font-weight: bold;color: #8d8d8d;line-height: 15px;}

.inMsRead{
    background: #fffcee!important;
}
.inMsRead:hover{  background: #f8f8f8;}


.inMsCreator{background: #ffe600;}
.inMsCreator:hover{background: #FFEC38;}
.toolHx{background: whiteSmoke;text-indent: 9px;border-bottom: 1px solid rgb(216, 216, 216);font-weight: bold;color: #8d8d8d;}

.notice-next{text-align: center;border-radius: 2px;width: 173px;display: block;height: 42px;line-height: 41px;margin: 12px auto;}
.notice-next img{width: 20px;height: 20px;margin: 10px 0;}
.inMsComment{line-height: 1.3;font-size: 14px;color: #3b3b3b;}
.iMcBold{font-weight:bold;}



/* ============================================================
   footer
============================================================ */
/*footer*/
.footer{position: relative;background: #ffffff;padding-top: 40px;}
.footer-in{width: 1000px;margin: auto;}



/* バナー枠 */
.footer_bn_block{width: 1000px;margin: 0 auto 64px;display: -webkit-flex;display: flex;-webkit-justify-content: space-between;justify-content: space-between;}

/* バナー共通 */
.footer-apply-link,.footer-help-link{width: 484px;height: 86px;}


/* applyボタン */
.footer-apply-link{background: #82D9EE;border-radius: 2px;color: #ffffff;text-align: center;padding: 11px 16px;/* display: -webkit-flex; */display: flex;/* -webkit-justify-content: center; */justify-content: center;/* -webkit-align-items: center; */align-items:center;-webkit-font-smoothing: antialiased;}
.footer-apply-link:hover{text-decoration:none;opacity:.8;}
.footer-apply-link-ttl-main{font-size: 24px;font-weight: bold;margin: 4px 0 8px 0;}
.footer-apply-link-ttl-sub{font-size: 17px;font-weight: bold;margin-bottom: 6px;}
.footer-apply-link-btn{background: #F7C600;font-size: 16px;border-radius: 90px;width: 184px;height: 44px;line-height: 44px;margin-left: 10px;font-weight: bold;}

/* Makuakeヘルプボタン */
.footer-help-link{background:#90e36f;border-radius: 2px;color: #ffffff;display: block;text-align: center;padding: 11px 16px;line-height: 67px;font-size: 24px;font-weight: bold;-webkit-font-smoothing: antialiased;position: relative;}
.footer-help-link-arrow{fill: #ffffff;width: 24px;height: 24px;position: absolute;right: 25px;top: 32px;}
.footer-help-link:hover{text-decoration: none; opacity: .8;}
.footer-help-icon{background: url(../img/footer/footer_help.png) no-repeat 0 0;display: block;width: 60px;height: 61px;background-size: contain;position: absolute;left: 30px;top: 18px;}


/* 3列のカラム */
.footer-column{display: -webkit-flex;display: flex;}
.footer-column--1{margin-bottom: 80px;}
.footer-column--2{margin-bottom: 90px;}
.footer-column-in{}
.footer-column-project{margin-bottom: 66px;}
.footer-column-in--1{width: 285px;}
.footer-column-in--2{width: 290px;margin-right: 106px;}
.footer-column-in--3{width: 315px;}
.footer-column-in--4{width: 295px;}
.footer-column-ttl{font-size: 20px;margin-bottom: 30px;position: relative;}

/* メニューのカラム */
.footer-column-menu{display: -webkit-flex;display: flex;}

/*文字列のリンク*/
.footer-link{display: -webkit-flex;display: flex;}
.footer-link-block{-webkit-font-smoothing: antialiased;}
.footer-link-block--1{margin-right: 70px;}
.footer-link-block--2{margin-right: 46px;}
.footer-link-block-list:not(:last-child){margin-bottom: 17px;}
.footer-link-block-txt{font-weight: bold;font-size: 13px;color: #929292;}

/* appsotreボタン */
.footer-appstore-bn{display: block;position: relative;top: -3px;}
.footer-appstore-bn:hover{opacity: .8;}
.footer-appstore-svg {width: 154px;height: 51px;position: relative;}

/* 全てのタグ */
.footer-link-tag{color: #333333;font-size: 12px;margin-top: 25px;display: block;position: absolute;right: 41px;top: -20px;}
.footer-link-tag-arrow{fill: #6b6b6b;width: 9px;height: 9px;position: relative;top: 0px;left  : 3px;}

/* SNS */
.footer-sns-title{font-size: 14px;color: #989898;text-align: center;padding: 14px 0  20px 0;}
.footer-sns-block{}
.footer-sns-block-list:not(:last-child){margin-bottom: 20px;}
.footer-sns-icon{display: block;width: 150px;height: 30px;position: relative;border-radius: 4px;color: #ffffff;text-align: center;font-size: 14px;}
.footer-sns-icon:hover{opacity:.8;text-decoration: none;}
.footer-sns-icon--face{background: #3B5998;}
.footer-sns-icon--tw{background: #55ACEE;}
.footer-sns-icon--line{background: #00C300;}
.footer-sns-icon--insta{background: -webkit-linear-gradient(left, #F77D34 0%,#DB3076 50%, #A437B8 100%);}
.footer-sns-icon--fill{fill: #ffffff;position: absolute;}
.footer-sns-icon--face-pos{width: 15px;height: 15px;left: 13px;top: 8px;}
.footer-sns-icon--tw-pos{width: 15px;height: 15px;left: 13px;top: 8px;}
.footer-sns-icon--line-pos{width: 15px;height: 15px;top: 8px;left: 12px;}
.footer-sns-icon--insta-pos{width: 15px;height: 15px;left: 12px;top: 7px;}
.footer-sns-text{position: relative;left: 11px;top: 8px;}

/* 運営会社 利用規約 プライバシーポリシー  コピーライト */
.footer-bottom-link{width: 100%;display: -webkit-inline-flex;display: inline-flex;-webkit-justify-content: center;justify-content: center;-webkit-justify-content: space-between; /* Safari */justify-content:         space-between;width: 320px;}
.footer-bottom-link-text{font-size: 12px;color: #777777;}
.footer-bottom{border-top: 1px solid #F0F0F0;display: -webkit-flex; /* Safari */display: flex;-webkit-justify-content: space-between; /* Safari */justify-content:         space-between;-webkit-align-items: center; /* Safari */align-items:         center;padding: 40px 0 80px;}
.footer-bottom-copy{}
.footer-bottom-copy-txt{color: #8B8B8B;font-size: 10px;}

/* ============================================================
   smartphoneに切り替え
============================================================ */
.changeSP{width:100%;background-color: #484848;padding:10px 0 30px 0; }
.changeSPbtn{width:800px;text-align: center;color: #fff;font-size: 20px;display: block;padding: 20px 0 20px 20px;letter-spacing: 0.1em;background:url("../img/icon_smartPhone_36.gif") no-repeat 220px 12px #2f2f2f;margin: auto;border-radius: 2px;}
.changeSPbtn:hover{text-decoration: none;background-color:#626262;}
/* ============================================================
   PAGETOP
============================================================ */

#page-top_jq {position: fixed;bottom: 20px;right: 20px;z-index: 1;}
#page-top_jq a {width: 56px;height: 56px;display: block;background: url("../img/btn_pagetop.png") no-repeat 0 0;text-indent: -9999px;}
#page-top_jq a:hover {opacity: 0.8;}



/* ============================================================
   ぱんくず
============================================================ */
.bread-crumb-listBase {
height: auto;
background: whiteSmoke;
padding-bottom: 23px;
}
#bread-crumb-list{
    width: 1000px;
    margin: auto;
    line-height: inherit;
}
#bread-crumb-list li{
    float: left;
    padding-top: 4px;
    color: rgb(175, 175, 175);
}
#bread-crumb-list a{
  font-size: 10px;
    color: #9a9a9a;
}

#bread-crumb-list i{font-size: 10px;
  font-size: 1.0rem;
position: relative;
top: -1px;}


/* ============================================================

============================================================ */
#gFooter #gFooterInner{width: 1000px !important;}





/* ============================================================
メンテナンスのお知らせ
============================================================ */
.maintenanceBase{background: rgb(87, 105, 121);}
.maintenanceBaseIn {width: 1000px;margin: auto;padding: 10px 0;}
.maintenanceBaseIn a{color: white; display: block;font-size: 13px;font-size: 1.3rem;line-height: 1.5;}


/* ============================================================
login
============================================================ */
.modal_login {
height: 66px;
background: #ffe600;
position: fixed;
top: -66px;
z-index: 1000;
width: 100%;
font-size: 24px;
text-align: center;
line-height: 66px;
left :0;
transition: 0.5s;
}

.modal_logout {
height: 66px;
background: #ffe600;
position: fixed;
top: -66px;
z-index: 1000;
width: 100%;
font-size: 24px;
text-align: center;
line-height: 66px;
left :0;
}

.login-logout--visible{
  display: block;
  animation: up-down 1.6s ease 1.25s;
}

@keyframes up-down{
  0%{ top:-66px;}
  15%{ top: 0px; }
  85%{ top: 0px; }
  100%{  top: -66px;}
}


/* ============================================================
   ページネーション全ページ共通
============================================================ */
.pagiBase{position: relative;overflow: hidden;}
.pagiBase ul{ display: -webkit-flex;display: flex;}
.pagiBase ul li{}
.pagiBase a {display:block;width: 30px;height: 30px}
.pagiBase {display: block;width: 30px;height: 30px;line-height: 30px;text-align: center;font-size: 13px;margin-right: 10px;background: white;border-radius: 4px;color: #797979;}
.page:hover > a{text-decoration: none;color: #ffffff;background: #f7c600;}
.pageStay{color: white !important;background: #f7c600 !important;}
.pageStay:hover{background: #f9d133 !important;}

.pageLeft{background: url("https://cdn-m.makuake.com/rev_2018/10/19/175605/img/pagination/icon_pagination.png") no-repeat 0 -31px #ffffff !important;}
.pageLeft:hover{background: url("https://cdn-m.makuake.com/rev_2018/10/19/175605/img/pagination/icon_pagination.png") no-repeat 0 -151px #f9d133 !important;}

.pageLeftLast{background: url("https://cdn-m.makuake.com/rev_2018/10/19/175605/img/pagination/icon_pagination.png") no-repeat 0 -1px #ffffff !important;}
.pageLeftLast:hover{background: url("https://cdn-m.makuake.com/rev_2018/10/19/175605/img/pagination/icon_pagination.png") no-repeat 0 -121px #f9d133 !important;}

.pageRight{background: url("https://cdn-m.makuake.com/rev_2018/10/19/175605/img/pagination/icon_pagination.png") no-repeat 0 -61px #ffffff !important;}
.pageRight:hover{background: url("https://cdn-m.makuake.com/rev_2018/10/19/175605/img/pagination/icon_pagination.png") no-repeat 0 -181px #f9d133 !important;}

.pageRightLast{background: url("https://cdn-m.makuake.com/rev_2018/10/19/175605/img/pagination/icon_pagination.png") no-repeat 0 -91px #ffffff !important;}
.pageRightLast:hover{background: url("https://cdn-m.makuake.com/rev_2018/10/19/175605/img/pagination/icon_pagination.png") no-repeat 0 -211px #f9d133 !important;}



/* ============================================================
   問い合わせページへの誘導対応
============================================================ */
.toApplyLinkSide {display: block;width: 62px;height: 320px;position: fixed;background: #fff;right: 0;border-radius: 4px 0 0 4px;z-index: 5;top: 160px;color: #333;box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);}


.toApplyLinkSide .toApplyLinkTxt {position: absolute;left: 23px;top: 21px;font-size: 14px;}
.toApplyLinkSide .toApplyLinkBtn {position: absolute;width: 44px;height: 38px;border-radius: 2px;left: 9px;bottom: 9px;}
.toApplyLinkSide .toApplyLinkBtn:after{content: "";position: absolute;left: 17px;top: 11px;border: 8px solid transparent;border-left: 13px solid #fff;width: 10px;margin-left: 0;}

.toApplyLinkSide_Pos_Top .toApplyLinkSide{top: 95px;}
.toApplyLinkSide_Pos_Project .toApplyLinkSide{top: 165px;}
@media screen and (max-width: 1136px){.toApplyLinkSide{display: none;}}




/* ===================================================================
  ボタン色全ページ統一(全ボタンにこのクラスを適用出来るようにしていってください)
=================================================================== */
/*水色*/
.btncol_01{background: #21bde1;color: white;}
.btncol_01:hover{background: #4dcae7;text-decoration: none;}
/*赤色*/
.btncol_02{background: #f83591;color: white;}
.btncol_02:hover{background: #f95da7;text-decoration: none;}
/*黄色*/
.btncol_03{background: #f7c600;color: white;}
.btncol_03:hover{background:#f9d133;text-decoration: none;}
/*緑色*/
.btncol_04{background: #a0d468;color: white;}
.btncol_04:hover{background: #b3dd86;text-decoration: none;}
/*キャンセルボタン(灰色)*/
.btncol_05{background: #c8c8c8;color: white;}
.btncol_05:hover{background: #d3d3d3;text-decoration: none;}
/*削除ボタン(赤)*/
.btncol_06{background: #f53a67;color: white;}
.btncol_06:hover{background: #f76185;text-decoration: none;}
/*非活性*/
.btncol_07{background: #f7f7f7;color: #c7c7c7;border:1px solid #e3e3e3;}
