@charset "UTF-8";
.content-promoter {
  overflow: auto;
  margin: 0 auto;
  width: 100%;
  color: #333;
}
.content-promoter .content-promoter__title {
  width: 100%;
  line-height: 92px;
  height: 92px;
  text-align: center;
  background: #fff;
  color: #333;
  font-size: 28px;
  position: relative;
  margin: auto;
  border-top: 1px solid #eee;
}
.content-promoter .content-promoter__title:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0px;
  background: linear-gradient(to right, #1ad4ff 0%, #1ad4ff 25%, #fb2a79 25%, #fb2a79 50%, #ffe600 50%, #ffe600 75%, #bbf117 75%, #bbf117 100%);
  background-size: 230px;
}
.content-promoter .content-promoter__main {
  position: relative;
  width: 100%;
  margin: auto;
}
.content-promoter .content-promoter__main .main__caption {
  text-align: center;
  line-height: 1.8;
  font-size: 16px;
  margin: 30px 0px;
}
.main__promoter-form {
  width: 90%;
  min-width: 960px;
  height: auto;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 50px;
  position: relative;
  padding: 52px 40px 20px 40px;
}
.main__promoter-course-form {
  width: 800px;
  height: auto;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 50px;
  position: relative;
  padding: 52px 40px 20px 40px;
}
.left__promoter-form {
  width: 50%;
  float: left;
  padding: 0 50px 10px 10px;
  border-right: 1px solid #e7e7e7;
}
.left__promoter-form:after {
  content: "";
  display: block;
  clear: both;
}
.right__promoter-form {
  width: 50%;
  float: right;
  padding: 0 10px 10px 50px;
}
.right__promoter-form:after {
  content: "";
  display: block;
  clear: both;
}
.wide__promoter-form {
  width: 100%;
  padding: 50px 10px 10px 50px;
  overflow: auto;
}
.promoter-form__caption {
  font-size: 22px;
  text-align: center;
  margin-bottom: 30px;
}
.promoter-form__field {
  margin-bottom: 35px;
}
.promoter-form__field:after {
  content: "";
  display: block;
  clear: both;
}
.promoter-form__field .field-short {
  width: 50%;
  float: left;
  position: relative;
}
.promoter-form__field .field-title {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}
.promoter-form__field .field-title .required {
  background: #f53a67;
  border-radius: 2px;
  color: white;
  font-size: 10px;
  padding: 4px 7px 4px 6px;
  display: inline-block;
  margin-left: 7px;
  position: relative;
  top: -2px;
}
.promoter-form__field .field-title .either {
  background: #bbb;
  border-radius: 2px;
  color: white;
  font-size: 10px;
  padding: 4px 7px 4px 6px;
  display: inline-block;
  margin-left: 7px;
  position: relative;
  top: -2px;
}
.promoter-form__field .field-title .check-icon {
  opacity: 0.6;
  color: #bbb;
  margin-left: 5px;
  font-size: 18px;
}
.promoter-form__field .field-title-sub {
  font-size: 12px;
  color: #999;
  margin-bottom: 15px;
}
.promoter-form__field .icon-hidden {
  display: none;
}
.promoter-form__field .file-icon {
  font-size: 30px;
  color: #666;
}
.promoter-form__field .field-file::after {
  display: block;
  content: "";
  clear: both;
}
.promoter-form__field .field-file .project-thumbnail-file-preview, .promoter-form__field .field-file .course-image-file-preview, .promoter-form__field .field-file .project-image-file-preview-0, .promoter-form__field .field-file .project-image-file-preview-1, .promoter-form__field .field-file .project-image-file-preview-2, .promoter-form__field .field-file .project-image-file-preview-3 {
  width: 80px;
  height: 70px;
  float: left;
  margin-left: 5px;
  padding: 2px;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  cursor: pointer;
  background: no-repeat center/80% url("http://image.36project.com/nothingimage.png");
}
.promoter-form__field .field-file .project-thumbnail-file-preview:hover, .promoter-form__field .field-file .course-image-file-preview:hover,  .promoter-form__field .field-file .project-image-file-preview-0:hover, .promoter-form__field .field-file .project-image-file-preview-1:hover,  .promoter-form__field .field-file .project-image-file-preview-2:hover, .promoter-form__field .field-file .project-image-file-preview-3:hover {
  opacity: 0.8;
}
.promoter-form__field .field-file .input-file-hidden {
  opacity: 0;
}
.promoter-form__field .field-input {
  border: solid 1px #adadad;
  padding: 6px;
  border-radius: 3px;
  width: 100%;
  font-size: 14px;
  height: 40px;
  outline: none;
  transition: all 0.2s ease;
}
.promoter-form__field .field-checkbox {
  margin-top: 10px;
}
.promoter-form__field .field-checkbox .checkbox-label {
  display: inline-block;
  margin: 0px 16px 14px 0;
  cursor: pointer;
}
.promoter-form__field .field-select {
  position: relative;
  width: 250px;
}
.promoter-form__field .field-select .field-select-inner {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 180px;
  height: 40px;
  padding: 6px;
  border-radius: 3px;
  font-size: 14px;
  background: #fff;
}
.promoter-form__field .field-select:after {
  display: block;
  content: "";
  position: absolute;
  right: 80px;
  top: 13px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 10px 0 10px;
  border-color: #adadad transparent transparent transparent;
}
.promoter-form__field .field-datetime {
  position: relative;
  width: 100%;
}
.promoter-form__field .field-datetime .field-datetime-inner {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 55px;
  height: 40px;
  padding: 6px;
  border-radius: 3px;
  font-size: 14px;
  background: #fff;
}
.promoter-form__field .field-textarea {
  border: solid 1px #adadad;
  padding: 14px;
  border-radius: 3px;
  width: 100%;
  height: 280px;
  font-size: 14px;
  outline: none;
  transition: all 0.2s ease;
}
.promoter-form__field .short {
  height: 120px;
}
.promoter-form__field .middle {
  height: 200px;
}
.promoter-form__field .field-agree {
  font-size: 14px;
  line-height: 1.5;
  display: inline;
}
.promoter-form__field .field-btn {
  width: 500px;
  height: 80px;
  line-height: 77px;
  border: none;
  outline: none;
  background: #F7C600;
  color: white;
  font-size: 27px;
  margin: auto;
  display: block;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  position: relative;
  border-bottom: 4px solid #E6B001;
}
.promoter-form__field .field-btn:hover {
  opacity: 0.8;
}
.promoter-form__field #promoter_profile_category {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 250px;
  height: 40px;
  padding: 6px;
  border-radius: 3px;
  font-size: 14px;
  background: #fff;
}
.check-box-outer {
  position: relative;
  padding: 5px;
  margin: 5px;
  float: left;
}
.check-box-outer input[type=checkbox].check_box_input:checked::after {
  position: absolute;
  content: " ✔";
  display: block;
  top: 2px;
  left: -2px;
  width: 22px;
  height: 22px;
  font-size: 20px;
  background: #fff;
  color: #f53a67;
  border: 1px solid #adadad;
  border-radius: 3px;
}
.field-checkbox::after {
  content: "";
  display: block;
  clear: both;
}
.check_box_label ::before {
  position: absolute;
  left: -2px;
  top: 2px;
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  background: #fff;
  border: 1px solid #adadad;
  border-radius: 3px;
}
.content-promoter .content-promoter__main .form-description {
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 200px;
  z-index: 100;
  border: solid 1px #eee;
  background: #fff;
  border-radius: 3px;
  width: 300px;
  color: #333;
  letter-spacing: 1.5px;
  line-height: 1.75;
}
.content-promoter .content-promoter__main .form-description .title {
  text-align: center;
  font-size: 16px;
  padding: 10px 0px;
  background: #F7C600;
  color: #fff;
  border-radius: 3px 3px 0px 0px;
}
.content-promoter .content-promoter__main .form-description .main {
  padding: 10px;
}
.content-promoter .content-promoter__main .form-description .main .lead {
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}
.content-promoter .content-promoter__main .form-description .main p {
  padding: 10px 0px 20px;
  text-indent: 1em;
}
.content-promoter .content-promoter__main .qa:hover .form-description {
  animation: popup 1s forwards;
}
@keyframes popup {
  100% {
    opacity: 1;
  }
}
.content-promoter .promoter-management {
  box-sizing: border-box;
  background: #333;
  overflow: auto;
  margin: 0 auto;
  min-width: 900px;
  min-height: calc(100vh - 66px);
  border-bottom: 1px solid #eee;
}
.content-promoter .promoter-management:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  top: 0px;
  background: linear-gradient(to right, #1ad4ff 0%, #1ad4ff 25%, #fb2a79 25%, #fb2a79 50%, #ffe600 50%, #ffe600 75%, #bbf117 75%, #bbf117 100%);
  background-size: 230px;
}
.content-promoter .promoter-management .main__left-area {
  width: 25%;
  float: left;
  background: #333;
  margin-top: 4px;
  height: calc(100vh - 70px);
  overflow: scroll;
}
.content-promoter .promoter-management .main__left-area ul .left-area-list-active {
  background: #4AB3DF;
  padding: 40px 30px;
  color: #fff;
  pointer-events: none;
}
.content-promoter .promoter-management .main__left-area ul .left-area-list-inactive {
  display: block;
  padding: 40px 30px;
  color: #fff;
  text-decoration: none;
}
.content-promoter .promoter-management .main__left-area ul .left-area-list-inactive:hover {
  background: #4AB3DF;
}
.content-promoter .promoter-management .main__left-area ul .left-area-list-inactive::after {
  display: block;
  content: "";
  position: absolute;
  top: 3.2em;
  right: 1.5em;
  width: 10px;
  height: 10px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.content-promoter .promoter-management .main__left-area ul li {
  position: relative;
}
.content-promoter .promoter-management .main__left-area ul li .list-icon {
  font-size: 24px;
  display: inline-block;
  padding-right: 10px;
}
.content-promoter .promoter-management .main__left-area ul li a {
  display: block;
  padding: 40px 30px;
  color: #fff;
  text-decoration: none;
}
.content-promoter .promoter-management .main__left-area ul li a:hover {
  background: #4AB3DF;
}
.content-promoter .promoter-management .main__left-area ul li a::after {
  display: block;
  content: "";
  position: absolute;
  top: 3.2em;
  right: 1.5em;
  width: 10px;
  height: 10px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.content-promoter .promoter-management .tab-area-active {
  display: block;
}
.content-promoter .promoter-management .tab-area-inactive {
  display: none;
}
.content-promoter .promoter-management .main__right-area {
  padding: 40px;
  width: 75%;
  float: left;
  background: #fff;
  margin-top: 4px;
  height: calc(100vh - 70px);
  overflow: scroll;
}
.project-list {
  width: 650px;
  margin: auto;
  box-sizing: border-box;
}
.project-list li {
  position: relative;
}
.project-list li a {
  display: block;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #DBDBDB;
  border-bottom: 2px solid #DBDBDB;
  border-radius: 3px;
  text-decoration: none;
  color: #333;
  letter-spacing: 1.2px;
  line-height: 1.25;
  background: #fff;
}
.project-list li a:after {
  content: "";
  display: block;
  clear: both;
}
.project-list li a:hover {
  opacity: 0.8;
}
.project-list li a .project-list-success {
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
}
.project-list li a .project-list-not_success {
  display: none;
}
.project-list li a .project-list__thumbbail {
  float: left;
  height: 200px;
  width: 230px;
}
.project-list li a .project-list__thumbbail img {
  width: 230px;
  height: 130px;
  object-fit: cover;
}
.project-list li a .project-list__target_sales, .project-list li a .project-list__deadline, .project-list li a .project-list__total_sales, .project-list li a .project-list__suportes {
  float: left;
  margin: 10px 0px 0px 25px;
  width: 340px;
  font-size: 12px;
  color: #676767;
}
.project-list li a .project-list__target_sales .label, .project-list li a .project-list__deadline .label, .project-list li a .project-list__total_sales .label, .project-list li a .project-list__suportes .label {
  display: inline-block;
  padding: 2px 5px;
  margin-right: 10px;
  background: #f1f1f1;
  border-radius: 3px;
}
.project-list li a .project-list__name {
  margin-left: 25px;
  float: left;
  width: 340px;
  font-size: 20px;
  border-left: solid 3px #F7C600;
  padding: 5px 0 5px 10px;
}
.content-promoter .promoter-management .main__right-area .supporter-list {
  width: 650px;
  margin: auto;
  box-sizing: border-box;
  color: #676767;
}
.content-promoter .promoter-management .main__right-area .supporter-list li.project-name {
  position: relative;
  padding: 20px 60px 20px 20px;
  background: #82D9EE;
  border-radius: 3px;
  color: #fff;
}
.content-promoter .promoter-management .main__right-area .supporter-list .supporter-detail {
  margin: 15px 0px 30px;
  overflow: auto;
}
.content-promoter .promoter-management .main__right-area .supporter-list .supporter-detail li.detail:nth-child(2n-1) {
  margin-right: 10px;
}
.content-promoter .promoter-management .main__right-area .supporter-list .supporter-detail li.detail-long {
  border-radius: 3px;
  padding: 20px;
  width: 650px;
  float: left;
  border: 1px solid #DBDBDB;
}
.content-promoter .promoter-management .main__right-area .supporter-list .supporter-detail li.detail {
  border-radius: 3px;
  padding: 20px;
  width: 320px;
  float: left;
  border: 1px solid #DBDBDB;
}
.content-promoter .promoter-management .main__right-area .supporter-list .supporter-detail li.detail .detail__user-image {
  margin: auto;
  width: 100px;
}
.content-promoter .promoter-management .main__right-area .supporter-list .supporter-detail li.detail .detail__user-image img {
  width: 100px;
  height: 100px;
  border-radius: 3px;
  object-fit: cover;
}
.content-promoter .promoter-management .main__right-area .supporter-list .supporter-detail li.detail .detail__info {
  width: 240px;
  margin: 20px auto;
  background: #fff;
}
.content-promoter .promoter-management .main__right-area .supporter-list .supporter-detail li.detail .detail__info .info__user-name__label, .content-promoter .promoter-management .main__right-area .supporter-list .supporter-detail li.detail .detail__info .info__date__label, .content-promoter .promoter-management .main__right-area .supporter-list .supporter-detail li.detail .detail__info .info__money__label {
  padding: 5px;
  background: #f1f1f1;
  width: 120px;
  font-size: 12px;
  float: left;
  margin-top: 5px;
  border-radius: 3px 0 0 3px;
}
.content-promoter .promoter-management .main__right-area .supporter-list .supporter-detail li.detail .detail__info .info__user-name, .content-promoter .promoter-management .main__right-area .supporter-list .supporter-detail li.detail .detail__info .info__date, .content-promoter .promoter-management .main__right-area .supporter-list .supporter-detail li.detail .detail__info .info__money {
  background: #f7f7f7;
  padding: 5px;
  width: 120px;
  font-size: 12px;
  float: left;
  margin-top: 5px;
  border-radius: 0 3px 3px 0;
}
/* 追加 */
.add-course-btn {
  display: block;
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #E6B001;
  width: 300px;
  margin: 0 350px 60px;
  box-sizing: border-box;
  background: #F7C600;
  text-decoration: none;
  padding: 15px;
  border-radius: 3px;
}
.add-course-btn:hover {
  text-decoration: none;
  opacity: .8;
}
/* 追加 */
.fr-toolbar .fr-command.fr-btn i, .fr-popup .fr-command.fr-btn i, .fr-toolbar .fr-command.fr-btn svg, .fr-popup .fr-command.fr-btn svg {
  color: #504d48;
}
.fr-toolbar {
  border: solid 1px #adadad;
  border-top: 5px solid #adadad;
}
.fr-box.fr-basic .fr-element {
  min-height: 200px;
}
.fr-toolbar.fr-top {
  border-radius: 3px 3px 0px 0px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.0), 0 1px 1px 1px rgba(0,0,0,.0);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.0),0 1px 1px 1px rgba(0,0,0,.0);
  box-shadow: 0 1px 10px rgba(0,0,0,.0), 0 1px 1px 1px rgba(0,0,0,.0);
}
.fr-box.fr-basic.fr-top .fr-wrapper {
  border: solid 1px #adadad;
  border-top: none;
  border-radius: 0px 0px 3px 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.0), 0 1px 1px 1px rgba(0,0,0,.0);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.0),0 1px 1px 1px rgba(0,0,0,.0);
  box-shadow: 0 1px 3px rgba(0,0,0,.0), 0 1px 1px 1px rgba(0,0,0,.0);
}

.content-promoter .content-promoter__main .form-description {
  display: none;
}
.fr-element {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 15px;
  word-wrap: break-word;
  word-break: normal;
}
.fr-element h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.fr-element h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.fr-element h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.fr-element h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.fr-element pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
}
.fr-element ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.fr-element ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.fr-element li {
  display: list-item;
  text-align: -webkit-match-parent;
}
