@charset "UTF-8";

/* ============================================================
  画像プレビューmodal
============================================================ */

.icon-close {
  position: fixed;
  top: 22px;
  right: 22px;
  width: 20px;
  height: 20px;
  fill: #fff;
  cursor: pointer;
}

.modal__overlay {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 40000;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal__contents {
  z-index: 40001;
  margin: 0;
  padding: 0;
}

.modal__contents__img {
  border-radius: 4px;
  img {
    max-width: 880px;
    max-height: 500px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
  }
}

/* ============================================================
   contentWrapper
============================================================ */

#contentWrapper {
  width: 1000px;
  height: 100%;
}

/* ============================================================
   コンテンツの右メイン
============================================================ */

#rightContentMain {
  float: left;
  width: 745px;
  margin-left: 35px;
  margin-top: 23px;
}

/*
#profileDetails{width: 745px;}

.formEroor{font-size: 13px; font-size: 1.3rem; color: red;margin-top: 10px;margin-bottom: 12px;line-height: 1.5;}
*/

.tabContentMainMypage {}

/* ============================================================
    共通項目ユーザーにメッセージを送る際のポップアップ
============================================================ */

.senDmoverlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(0, 0, 0, 0.59);
  display: none;
}

/*このクラスをあてることでPOPUPがでる jQuery管理*/

.senDmoverlayfixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  display: block;
}

.whiteBase {
  width: 410px;
  height: 210px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  margin-left: -205px;
  margin-top: -105px;
  border: 4px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.18);
  border-radius: 2px;
  p {
    font-size: 16px;
    font-size: 1.6rem;
    text-align: center;
    position: absolute;
    top: 56px;
    left: 104px;
    color: rgb(70, 70, 70);
  }
}

.fadeOut {
  display: block;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  outline: none;
  position: absolute;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  font-size: 1.4rem;
  padding: 0px 25px 0px 25px;
  line-height: 41px;
  height: 41px;
  width: 130px;
  background: #777777;
  letter-spacing: 0.1em;
  bottom: 46px;
  right: 50px;
  &:hover {
    background: #adadad;
  }
}

.submitComp {
  display: block;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  outline: none;
  position: absolute;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  font-size: 1.4rem;
  padding: 0px 25px 0px 25px;
  line-height: 41px;
  height: 41px;
  width: 130px;
  background: #01B1DA;
  letter-spacing: 0.1em;
  bottom: 46px;
  left: 60px;
  &:hover {
    background: #1ad4ff;
  }
}

/* ============================================================
   タブナビゲーション
============================================================ */

.tabNavigation {
  position: relative;
  a {
    width: 220px;
    display: block;
    text-align: center;
    height: 61px;
    line-height: 55px;
    margin-right: 10px;
    position: relative;
    text-decoration: none;
  }
}

.tabOn {
  background: white;
  /*border-top: 4px solid #ededed;border-left: 4px solid #ededed;border-right: 4px solid #ededed;*/
  color: #333333;
  font-weight: bold;
}

.tabOff {
  background: #0fa1c3;
  color: white;
  font-weight: bold;
  border: 4px solid #ededed;
  &:hover {
    background: #21bde1;
  }
}

.tabAlert {
  text-decoration: none;
  color: #0fa1c3;
  background: white;
  padding: 4px;
  border-radius: 6px;
  margin-left: 10px;
}

.tabAlert02 {
  text-decoration: none;
  color: white;
  background: #4dac25;
  padding: 4px;
  border-radius: 6px;
  margin-left: 10px;
}

/*メール*/

.sendMail {
  display: block;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 0px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0px 25px 0px 25px;
  line-height: 32px;
  height: 39px;
  width: 221px;
  letter-spacing: 0.1em;
  background: url("../../img/btn_sendMail.png") no-repeat 0 0 #fb2a79;
  text-indent: -9999px;
  top: 9px;
  border-radius: 2px;
  &:hover {
    background-color: #ff4d90;
  }
}

/* ============================================================
   ユーザーが縦にならんでいる部分  メッセージ共通
============================================================ */

/*====追加0515====*/

/*top戻るボタン*/

#page-top_jq {
  z-index: 11;
}

.newMessage {
  color: #fff;
  border: 1px solid #fb2a79;
  border-radius: 3px;
  background-color: #fb2a79;
  margin-left: 15px;
  padding: 5px;
  font-size: 11px;
}

.messageTop_h2 {
  font-size: 21px;
  padding: 7px 0 40px;
}

.messageTop_select {
  display: none;
  border: 1px solid #cfcfcf;
  border-top: 0;
  border-radius: 0 0 3px 3px;
  width: 190px;
  position: absolute;
  top: 36px;
  left: 134px;
  z-index: 19;
  background-color: #fff;
  cursor: pointer;
}

/* ============================================================
   受信箱のプルダウンメニュー
============================================================ */

.selection li:hover, .messageTop_selected:hover, .moreArea1:hover, .moreArea2:hover {
  background-color: #f9f9f9 !important;
}

.selection li {
  position: absolute;
  top: -2px;
  left: 134px;
  padding: 11px 0;
  width: 190px;
  height: 38px;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  z-index: 19;
  background-color: #fff;
  &:first-child {
    background: url("../../img/my/my_icon01.png") right center no-repeat #fff;
    background-size: 13px 7px;
    background-position: 165px 15px;
  }
  &:last-child {
    margin-top: 36px;
    border-radius: 0 0 3px 3px;
  }
}

.option li {
  padding: 12px 0;
  width: 188px;
  border-bottom: none;
  text-align: center;
  z-index: 19;
}

.all:after {
  content: "全て";
}

.unopen:after {
  content: "未読メッセージ";
}

.left_list {
  float: left;
  width: 263px;
}

.dmLeft_cover {
  float: left;
}

.dmLeft {
  overflow: hidden;
  background-color: #fff;
  float: left;
  position: relative;
  z-index: 11;
}

.ps-container {
  .ps-scrollbar-y {
    width: 4px !important;
    background-color: #4C4C4C !important;
  }
  .ps-scrollbar-y--transparent {
    opacity: 0;
  }
}

.userArea {
  display: table;
  padding: 15px;
  height: 90px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
  position: relative;
}

.dmLeftScroll {
  position: relative;
}

.userList {
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  li {
    &:hover {
      background: #f9f9f9 !important;
    }
    &.dark:hover {
      background: #929292 !important;
    }
  }
}

/*.userList li:last-child{border-bottom: 1px solid rgb(207, 207, 207);}*/

.message--open {
  width: 264px;
  animation-duration: 0.25s;
  animation-name: message-open;
  transition-timing-function: ease;
}

@keyframes message-open {
  0% {
    width: 100%;
  }

  100% {
    width: 264px;
  }
}


.userL {
  display: table-cell;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  img {
    display: block;
  }
}

.still {
  position: absolute;
  top: 58px;
  left: 60px;
  border: 3px solid #fff;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background-color: #fb2a79;
}

.date {
  float: right;
  text-align: right;
  color: #000;
  font-size: 12px;
}

.exchangeNum {
  display: block;
  padding: 3px 6px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background-color: #9c9c9c;
  border-radius: 2px;
  float: right;
  position: absolute;
  top: 54px;
  right: 12px;
}

.mailComment {
  display: table-cell;
}

.mailArea {
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  font-size: 12px;
  color: #333333;
  max-width: 590px;
  letter-spacing: -0.05em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mailtitle {
  font-weight: bold;
  font-size: 14px;
  max-width: 550px;
}

.description {
  color: #707070;
}

.last {
  border-bottom: 1px solid rgb(207, 207, 207);
}

.userR {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
}

.userRIn {
  color: gray;
  font-size: 12px;
  font-size: 1.2rem;
}

.moreArea_wrap {
  padding-top: 19px;
  height: 78px;
}

.moreArea1 {
  color: #000;
  margin: 0 auto;
  width: 190px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
}

.moreArea1_load {
  color: #000;
  margin: 0 auto;
  width: 190px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  background: url("../../img/common_loading.gif") no-repeat center #f9f9f9;
  background-size: 13px;
}

.moreArea2 {
  color: #000;
  margin: 15px auto 0;
  width: 190px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
  background-color: #fff;
}

.moreArea2_load {
  color: #000;
  margin: 15px auto 0;
  width: 190px;
  height: 38px;
  line-height: 38px;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  background: url("../../img/common_loading.gif") no-repeat center #f9f9f9;
  background-size: 13px;
}

.BorderNone {
  border-right: none;
}

.dark {
  background-color: #929292 !important;
  color: #fff;
}

.mDark {
  color: #fff;
}

.loadAfter {
  background-color: #fff !important;
}

.ps-scrollbar-x {
  display: none !important;
  overflow: hidden !important;
}

.b-rightNone {
  border-right: 1px solid #e0e0e0 !important;
  width: 100%;
}

.b-none {
  border: none !important;
}

/*================*/

/* ============================================================
   01 :: メッセージのやり取り　
============================================================ */

.tabContentMain {
  position: relative;
}

.userL img {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  display: block;
}

.dmRight_cover {
  margin-left: 264px;
}

.dmRight {
  display: none;
  position: absolute;
  top: 0;
  width: 480px;
  z-index: 10;
}

.visible {
  display: block;
  animation-duration: 2s;
  animation-name: fade-in;
  -moz-animation-duration: 2s;
  -moz-animation-name: fade-in;
  -webkit-animation-duration: 2s;
  -webkit-animation-name: fade-in;
}

@keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}


@-moz-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}


@-webkit-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}


.dmRightUp {
  padding: 0 20px 0 20px;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.msBaseOver {
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}

.thread_top .returnBack {
  float: left;
  display: block;
  color: #000;
  text-decoration: none;
  margin: 0px 0px 15px;
  cursor: pointer;
}

.re_a:hover, .returnBack:hover {
  opacity: 0.8;
}

.thread_top {
  color: #000;
  height: 92px;
  border: 1px solid #e0e0e0;
  padding: 20px 18px 5.4px;
  background-color: #fff;
  a:hover {
    opacity: 0.8;
  }
}

.thread_top_title {
  font-size: 12px;
  max-width: 640px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thread_top .t_img {
  margin-right: 10px;
}

.re_a {
  margin-right: 25px;
}

.upMs {
  height: 43px;
  margin-bottom: 6px;
}

.leftMs {
  float: left;
  margin-right: 10px;
  img {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    display: block;
  }
}

.rightMs {
  float: right;
  margin-left: 46px;
  img {
    width: 36px;
    height: 36px;
    border-radius: 4px;
    display: block;
  }
}

.leftMs img:hover, .rightMs img:hover {
  opacity: 0.8;
}

.ownturn .rightMs {
  float: right;
  text-align: right;
  margin-left: 10px;
}

.text__wrapper ul {
  background-color: #f5f5f5;
}

.attached_img {
  position: relative;
  width: 132px;
  height: 132px;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  background: #fff;
  overflow: hidden;
  display: inline-block;
  &:hover {
    cursor: pointer;
  }
  img {
    position: absolute;
    max-width: 130px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .attached_img__caption {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
    color: #fff;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.4s ease-out;
  }
}

.attached_img__caption span {
  vertical-align: middle;
}

.attached_img__mask {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.3s ease-out;
  transform: translate3d(0, 0, 0);
}

.attached_img__caption__zoomin {
  width: 16px;
  height: 16px;
  fill: #fff;
  padding-bottom: 2px;
  vertical-align: middle;
}

.attached_img:hover {
  .attached_img__mask {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .attached_img__caption {
    opacity: 1.0;
  }
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.first {
  padding: 4px 15px 0px;
}

.second {
  padding: 4px 15px 20px;
}

.first li {
  border-radius: 2px;
  display: inline-block;
  width: 132px;
  height: 96px;
  background-color: #cecece;
}

.second li {
  border-radius: 2px;
  display: inline-block;
  width: 201px;
  height: 124px;
  background-color: #cecece;
}

.textMs {
  font-size: 14px;
  color: #333333;
  line-height: 1.7;
  padding: 16px;
  background: #f5f5f5;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}

.grayArrow:after {
  content: "";
  position: absolute;
  left: 15px;
  top: -9px;
  border: 9px solid transparent;
  border-left: 19px solid #f5f5f5;
  width: 17px;
}

.greenArrow:after {
  content: "";
  position: absolute;
  right: 19px;
  top: -9px;
  border: 9px solid transparent;
  border-right: 19px solid #f0fbd7;
  margin-left: 22px;
  width: 17px;
}

.attached_img {
  position: relative;
  width: 132px;
  height: 132px;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  background: #fff;
  overflow: hidden;
  display: inline-block;
}

.ownturn .textMs {
  float: right;
  background: #f0fbd7;
}

.msBase {
  padding: 20px 0;
}

.name {
  font-size: 　14px;
  color: #4f4f4f;
  padding-top: 4px;
  max-width: 370px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.time {
  font-size: 12px;
  color: #696969;
  line-height: 1.5;
  text-indent: 1px;
}

/*メッセージ一人分*/

.inMs {
  padding: 15px 0;
  border-bottom: 2px solid #ededed;
  padding-right: 15px;
}

.inMsUser {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin-bottom: 14px;
  div {
    display: table-cell;
    vertical-align: middle;
  }
}

.inMsName {
  padding-left: 10px;
}

.inMsPhoto img {
  display: block;
}

.inMsTime {
  color: #878787;
  font-size: 12px;
  font-size: 1.2rem;
  text-align: right;
  width: 130px;
  span {
    margin-left: 5px;
  }
}

.inMsp {
  font-size: 14px;
  line-height: 1.3;
}

.dmRightDown {
  width: 480px;
  height: 205px;
  position: relative;
  padding: 20px 20px 20px 19px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-top: none;
}

.dmRightDown_wrap {
  display: block;
  width: 477px;
  height: 200px;
  background-color: #fff;
  z-index: 1;
}

.msInput {
  padding: 6px;
  font-size: 14px;
  color: rgb(87, 87, 87);
  border: none;
  /* top: 20px; */
  border: 1px solid #dbdbdb;
  width: 440px;
  resize: none;
  &:focus {
    color: rgb(87, 87, 87);
  }
}

.sendBtnMs {
  display: block;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 0px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  font-size: 1.4rem;
  padding: 0px 25px 0px 25px;
  line-height: 41px;
  height: 41px;
  width: 90px;
  background: #01B1DA;
  letter-spacing: 0.1em;
  top: 132px;
  &:hover {
    background: #1ad4ff;
  }
}

/*全体スレッドローディング*/

.loading_allWhite {
  position: absolute;
  top: 0;
  left: 264px;
  width: 480px;
  height: 100%;
  background: url("../../img/common_loading.gif") no-repeat center top rgba(255, 255, 255, 0.7);
  z-index: 10;
  background-position: 220px 220px;
}

/*右側スレッドローディング*/

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../img/common_loading.gif") no-repeat center top rgba(255, 255, 255, 0.7);
  z-index: 10;
  background-position: 220px 220px;
}

.minHeight {
  min-height: 100px;
}

/* ============================================================
   02:新規メッセージを作成する前に各プロダクトを選択
============================================================ */

.dmRightChoice {
  width: 100%;
  height: 694px;
  overflow: hidden;
  position: relative;
}

.pjtSec {
  width: 208px;
  height: 247px;
  position: relative;
  float: left;
  margin-right: 16px;
  margin-bottom: 30px;
  img {
    display: block;
    width: 208px;
    margin-bottom: 12px;
    height: 117px;
  }
  h2 {
    font-size: 13px;
    font-size: 1.3rem;
    font-weight: bold;
    word-wrap: break-word;
    line-height: 1.4;
  }
}

.sendBtnChoice {
  display: block;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  outline: none;
  position: absolute;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  font-size: 1.4rem;
  padding: 0px 25px 0px 25px;
  line-height: 41px;
  height: 41px;
  width: 208px;
  background: #01B1DA;
  letter-spacing: 0.1em;
  bottom: 3px;
  &:hover {
    background: #1ad4ff;
  }
}

.dmRightUpTile02 {
  font-weight: bold;
  font-size: 14px;
  font-size: 1.4rem;
}

/* ============================================================
   02:でプロダクトを選定し、実行者にメッセージを送る画面
============================================================ */

.dmRightUp02 {
  width: 100%;
  height: 54px;
  overflow: hidden;
  position: relative;
}

.inMs02 {
  padding: 15px 15px 0 0;
}

.inMsUser02 {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin-bottom: 14px;
  div {
    display: table-cell;
    vertical-align: middle;
  }
}

.inMsName02 {
  padding-left: 10px;
}

.inMsPhoto02 img {
  display: block;
}

.inMsTime02 {
  color: #878787;
  font-size: 12px;
  font-size: 1.2rem;
  text-align: right;
  width: 130px;
}

.inMsp02 {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.3;
}

.dmRightDown02 {
  width: 100%;
  height: 210px;
  position: relative;
}

.msInput02 {
  padding: 6px;
  font-size: 14px;
  color: rgb(87, 87, 87);
  border: none;
  position: absolute;
  top: 20px;
  border: 1px solid rgb(170, 170, 170);
  font-size: 1.4rem;
  width: 452px;
  resize: none;
  &:focus {
    color: rgb(87, 87, 87);
  }
}

.btn-area {
  display: flex;
  display: -webkit-flex;
  float: right;
  margin-top: 12px;
}

.counter {
  color: #afafaf;
  font-size: 14px;
  margin-top: 12px;
  margin-right: 11px;
}

.sendBtnMs02 {
  display: block;
  border: none;
  cursor: pointer;
  outline: none;
  right: 0px;
  color: white;
  font-size: 14px;
  border-radius: 2px;
  padding: 0px 25px 0px 25px;
  line-height: 41px;
  height: 41px;
  width: 184px;
  background: #f7c600;
  letter-spacing: 0.1em;
  top: 150px;
}

.sendBtnMs02_load {
  display: none;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 0px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  padding: 0px 25px 0px 25px;
  line-height: 41px;
  height: 41px;
  width: 184px;
  letter-spacing: 0.1em;
  top: 150px;
  margin-right: 20px;
  background: url("../../img/common_loading.gif") no-repeat center center #c8c8c8;
  background-size: 13px;
  z-index: 1;
}

.sendBtnMs02:hover {
  opacity: 0.8;
}

/* ============================================================
   04 :　複数人にまとめてメッセージを送る画面
============================================================ */
/*グループ名編集*/

.setGname {
  width: 15px;
  height: 15px;
  display: inline-block;
  position: absolute;
  background: url("../../img/icon_msg_set.png") no-repeat 0 0;
  border: none;
  outline: none;
  top: 50%;
  margin-top: -7px;
  cursor: pointer;
  right: 7px;
  &:hover {
    opacity: 0.5;
  }
}

/*
.setGname:after{content:"";width:15px;height:15px;position:absolute;right: 5px;top: 50%;margin-top: -5px;}*/

.dmRightUp03 {
  width: 100%;
  height: 486px;
  position: relative;
}

.inMs03 {
  padding: 0px 15px 0 0;
}

.inMsUser03 {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin-bottom: 14px;
  div {
    display: table-cell;
    vertical-align: middle;
  }
}

.inMsName03 {
  padding-left: 10px;
}

.inMsPhoto03 {
  img {
    display: block;
  }
  span {
    color: gray;
    font-size: 14px;
    margin-left: 5px;
  }
}

.dmRightDown03 {
  width: 100%;
  height: 210px;
  position: relative;
}

.msInput03 {
  padding: 6px;
  font-size: 14px;
  color: rgb(87, 87, 87);
  border: none;
  position: absolute;
  top: 20px;
  border: 1px solid rgb(170, 170, 170);
  font-size: 1.4rem;
  width: 452px;
  resize: none;
  &:focus {
    color: rgb(87, 87, 87);
  }
}

.sendBtnMs03 {
  display: block;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 0px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  font-size: 1.4rem;
  padding: 0px 25px 0px 25px;
  line-height: 41px;
  height: 41px;
  width: 90px;
  background: #01B1DA;
  letter-spacing: 0.1em;
  top: 152px;
  &:hover {
    background: #1ad4ff;
  }
}

/*ホバーしてその他の人数をだすところ*/

.anotherMen {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin-bottom: 30px;
  margin-top: 30px;
  position: relative;
  > div {
    display: table-cell;
    vertical-align: middle;
  }
}

.redBox {
  width: 45px;
}

.anotherMen > div img {
  width: 36px;
  height: 36px;
  display: block;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.redText {
  color: #ef4d73;
  font-size: 18px;
  font-size: 1.8rem;
  span {
    margin-left: 10px;
  }
}

/*グループ名*/

.anotherArea {
  position: relative;
}

.grInputArea {}

.grpName {
  width: 100%;
  padding: 15px;
  height: 154px;
  background: #f5f5f5;
  position: relative;
}

.grpInput {
  padding: 8px;
  font-size: 14px;
  font-size: 1.4rem;
  color: rgb(87, 87, 87);
  border: solid 1px #ccc;
  border-radius: 3px;
  position: absolute;
  width: 314px;
  right: 15px;
  top: 15px;
  height: 48px;
}

.grpNameP {
  font-weight: bold;
  left: 15px;
  top: 31px;
  position: absolute;
  letter-spacing: 0.2em;
}

.grpNameP02 {
  position: absolute;
  top: 78px;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.6;
  width: 412px;
  left: 16px;
}

/*ツールチップ*/

.tipBox {
  position: absolute;
  width: 400px;
  height: 170px;
  background: white;
  z-index: 50;
  border: 2px solid #fb2a79;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.27);
  left: 0px;
  top: 54px;
  display: none;
  &:after {
    content: "";
    width: 50px;
    height: 50px;
    background: url("../../img/icon_arrow_msg.png") no-repeat 0 0;
    position: absolute;
    left: 1px;
    top: -17px;
  }
}

.tipBoxIn {
  background: white;
  width: 100%;
  height: 166px;
  position: relative;
  overflow: hidden;
}

.tipBoxIn02 {
  padding: 15px;
  > div:first-child {
    border-top: 1px solid rgb(236, 236, 236);
  }
}

/*ツールチップ内部のあれ*/

.inMs04 {
  border-bottom: 1px solid rgb(236, 236, 236);
}

.inMsUser04 {
  width: 100%;
  display: table;
  table-layout: fixed;
  padding: 10px 0;
  div {
    display: table-cell;
    vertical-align: middle;
  }
}

.inMsName04 {
  padding-left: 10px;
}

.inMsPhoto04 {
  img {
    display: block;
  }
  span {
    color: gray;
    font-size: 14px;
    margin-left: 5px;
  }
}

.dmRightDown04 {
  width: 100%;
  height: 210px;
  position: relative;
}

.msInput04 {
  padding: 6px;
  font-size: 14px;
  color: rgb(87, 87, 87);
  border: none;
  position: absolute;
  top: 20px;
  border: 1px solid rgb(170, 170, 170);
  font-size: 1.4rem;
  width: 452px;
  resize: none;
}

/*ツリー構造*/

.userArea02 {
  border-bottom: 1px solid rgb(233, 233, 233);
}

.userArea02In {
  display: table;
  padding: 14px 14px 7px 14px;
  cursor: pointer;
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
  font-size: 14px;
  font-size: 1.4rem;
  position: relative;
}

.userArea02:hover {
  background: #ffe600;
}

.userL02 {
  display: table-cell;
  vertical-align: middle;
  width: 36px;
  height: 36px;
  img {
    display: block;
  }
}

.userR02 {
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
  width: 164px;
}

.userRIn02 {
  color: gray;
  font-size: 12px;
  font-size: 1.2rem;
}

.userTree {
  font-size: 13px;
  font-size: 1.3rem;
  padding: 0px 5px 5px 13px;
  span {
    padding-left: 2px;
    line-height: 1.3;
  }
}

/*次を見るボタン */
/*サポータ左側*/

#message-supporter-side-next, #message-owner-side-next, #message-supporter-side-prev, #message-owner-side-prev {
  background: none repeat scroll 0 0 #01B1DA;
  border-radius: 2px 2px 2px 2px;
  color: white;
  display: block;
  height: 33px;
  line-height: 31px;
  margin: 12px auto;
  text-align: center;
  width: 150px;
  &:hover {
    text-decoration: none;
    background: #1ad4ff;
    color: white;
  }
}

/*実行者左側*/

/*前を見るボタン */
/*サポータ左側*/

/*実行者左側*/

/* ============================================================
   フッター隠す
============================================================ */

#footer {
  display: none;
}

/* ============================================================
   ローディング
============================================================ */

.loadbg {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.loadingBase_msg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
}

.loadingbox {
  text-align: center;
  position: relative;
  z-index: 1;
}

.loadingboxIn {
  display: inline-block;
  color: #fff;
  margin-top: 25%;
  text-align: center;
  img {
    display: block;
    width: 60px;
    margin: 0 auto 20px auto;
    border-radius: 1px;
  }
  p {
    font-size: 20px;
  }
}
