.file_area {
  display: inline-block;
  position: relative;
  left: 20px;
  top: 20px;
  width: 175px;
  height: 175px;
  border-radius: 2px;
  background: url(https://hayabusa.io/makuake/upload/user/100500/main_100500.fit-scale.jpeg?width=175&height=175&quality=95&version=1539290507&format=jpeg&ttl=31536000&force) no-repeat;
  background-size: 175px 175px;
  &:hover:after {
    position: absolute;
    content: "";
    width: 175px;
    height: 175px;
    left: 0;
    top: 0;
    background: url(https://cdn-m.makuake.com/rev_2018/10/10/132936/img/btn_thchange.png) no-repeat 0 0;
  }
  input {
    position: absolute;
    opacity: 0;
    zoom: 1;
    filter: alpha(opacity = 0);
    /* ie lt 8 */
    -ms-filter: "alpha(opacity=0)";
    /* ie 8 */
    right: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    font-size: 100px;
    z-index: 999;
    height: 300px;
    cursor: pointer;
  }
}
