%section.box
  .boxA
    %h2.ttl.Question
    【ここに質問がきます】
  .boxB.dTable
    %span#radio_26506.chkradio.errPosRight.after
      %label.choices
        %input#radio_id_26506.radioBtn.radio_26506.errPosRight{:name => "questions[0][answer]", :type => "radio", :value => "72151"}>/
        はい
    #err_radio_26506.formError.userformError.form_support_form.fixed{:style => "display: none;"}
      .formErrorMsg.formErrorContent
      .formErrorArrow
        .line10
        .line9
        .line8
        .line7
        .line6
        .line5
        .line4
        .line3
        .line2
        .line1
      %span.formErrorClose ×
